<p-toast key="alert-message-forgot-password"></p-toast>
<div class="px-5 flex justify-content-center align-items-center mb-6">
    <div class="border-1 surface-border surface-card border-round py-7 px-4 md:px-7 z-1"
        style="margin-top: 4%; border-radius: 25px !important;">
        <div class="mb-4">
            <div class="text-900 text-xl font-bold mb-2">¿Olvidó su Contraseña?</div>
            <span class="text-600 font-medium">Ingrese su correo para recuperar su contraseña.</span>
        </div>
        <form novalidate id="form" (submit)="forgotPassword()" [formGroup]="formGroup">
            <div class="grid">
                <div class="field col-12">
                    <span class="p-input-icon-left w-full">
                        <i class="pi pi-envelope"></i>
                        <input id="email" type="text" pInputText class="w-full" placeholder="Correo"
                            formControlName="email" required />
                    </span>
                    <small class="p-error block"
                        *ngIf="formGroup.get('email').dirty && formGroup.get('email')?.errors?.['required']">
                        Este campo es obligatorio
                    </small>
                    <small class="p-error block" *ngIf="
                                    formGroup.get('email').dirty &&
                                    formGroup.get('email')?.errors?.pattern
                                ">
                        Correo no válido
                    </small>
                </div>
            </div>
            <div class="grid">
                <div class="col-8">
                    <button *ngIf="validForm()" pButton pRipple type="submit" id="saveButton" class="w-full"
                        label="Recuperar Contraseña"></button>
                    <button *ngIf="!validForm()" type="button" pButton pRipple class="w-full"
                        label="Recuperar Contraseña" disabled="true"></button>
                </div>
                <div class="col-4">
                    <button pButton pRipple class="w-full" (click)="cancel()" type="button" id="cancelButton"
                        class="p-button-outlined" label="Cancelar">
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>