<div class="flex justify-content-center align-items-center">
    <div class="card border-0 shadow-lg flex justify-content-center">
        <div class="card-body">
            <div class="login-box-msg w-full">
                <p class="h5"><b>¿Olvidaste tu contraseña?</b></p>
                <p class="">Ingrese su correo para recuperar su contraseña.</p>
            </div>
            <form
                class="needs-validation"
                novalidate
                id="form"
                (submit)="forgotPassword()"
                [formGroup]="formGroup"
                class="flex justify-content-center"
            >
                <div>
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 lg:col-12">
                            <span class="p-input-icon-left w-full">
                                <i class="pi pi-envelope"></i>
                                <input
                                    id="email"
                                    type="text"
                                    pInputText
                                    class="w-full"
                                    placeholder="Correo"
                                    formControlName="email"
                                    required
                                />
                            </span>
                            <small
                                class="p-error block"
                                *ngIf="formGroup.get('email').dirty && formGroup.get('email')?.errors?.['required']"
                            >
                                Este campo es obligatorio.
                            </small>
                            <small
                                class="p-error block"
                                *ngIf="
                                    formGroup.get('email').dirty &&
                                    formGroup.get('email')?.errors?.pattern
                                "
                            >
                                Coreo no válido
                            </small>
                        </div>
                    </div>

                    <div
                        class="p-fluid p-formgrid grid flex justify-content-center"
                    >
                        <div class="col-4">
                            <button
                                pButton
                                pRipple
                                (click)="cancel()"
                                type="button"
                                id="cancelButton"
                                class="p-element p-ripple mr-2 p-button-outlined p-button-danger p-component"
                            >
                                <span class="p-button-label">Cancelar</span>
                            </button>
                        </div>
                        <div class="col">
                            <button
                                type="submit"
                                id="saveButton"
                                pButton
                                pRipple
                                label="Recuperar Contraseña"
                                class="w-full"
                                ng-reflect-label="Recuperar Contraseña"
                                [disabled]="!validForm()"
                            ></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
