<p-confirmDialog icon="pi pi-exclamation-triangle"></p-confirmDialog>
<form novalidate [formGroup]="formGroup">
    <div>
        <h2 class="mx-0 mt-0 mb-4 text-indigo-500">Editar abono</h2>
    </div>
    <div class="mb-5">
    </div>
    <p-divider></p-divider>
    <div class="field mb-7">
        <p-dropdown [options]="statuses" showClear="true" placeholder="Seleccione el estado" formControlName="status"
            [style]="{ width: '100%' }">
        </p-dropdown>
        <small class="p-error block"
            *ngIf="formGroup.get('status')?.dirty && formGroup.get('status')?.errors?.['required']">
            Este campo es obligatorio
        </small>
    </div>
    <div class="flex justify-content-end">
        <div class="flex align-items-end">
            <button pButton pRipple type="button" (click)="back()" label="Regresar" icon="pi pi-angle-left"
                class="p-button-outlined mr-3"></button>
            <p-button *ngIf="validForm()" (click)="confirmation()" label="Guardar" icon="pi pi-check"></p-button>
            <p-button *ngIf="!validForm()" label="Guardar" icon="pi pi-check" disabled="true"></p-button>
        </div>
    </div>
</form>