<div class="modal-header">
    <div class="container-fluid">
        <h5 class="modal-title padding-extra">Agregar Cliente</h5>
    </div>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <form class="needs-validation" novalidate id="form" (submit)="saveCostumer()" [formGroup]="formGroup">
            <div class=" card-body d-flex">
                <div class="w-100 p-2">
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="name" class="form-label">Nombre</label>
                            <input type="text" id="name" name="name"
                                class="form-control formularioCampo border-left-dark"
                                placeholder="Digite su nombre" formControlName="name">
                            <div class="invalid-feedback">
                                En este campo solo se permiten letras
                            </div>
                        </div>

                        <div class="form-group col-6">
                            <label for="lastName" class="form-label">Apellido</label>
                            <div class="input-group">
                                <input type="text" id="lastName" name="lastName" 
                                    class="form-control formularioCampo border-left-dark"
                                    placeholder="Digite su Apellido" formControlName="lastName">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-right"><i
                                            class="fas fa-user-alt"></i></span>
                                </div>
                                <div class="invalid-feedback">
                                    En este campo solo se permiten letras
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="document" class="form-label">Documento</label>
                            <div class="input-group">
                                <input type="text" id="document" name="document" placeholder="Número de documento"
                                    class="form-control formularioCampo border-left-dark" formControlName="document">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-right"><i
                                            class="fas fa-id-card"></i></span>
                                </div>
                                <div class="invalid-feedback">
                                    Este campo es obligatorio.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label for="birthDate" class="form-label">Fecha de Nacimiento</label>
                            <div class="input-group">
                                <input type="date" id="birthDate" name="birthDate"
                                    class="form-control formularioCampo border-left-dark" formControlName="birthDate">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-right"><i
                                            class="fas fa-calendar-week"></i></span>
                                </div>
                                <div class="invalid-feedback">
                                    Este campo es obligatorio.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="phoneNumber" class="form-label">Número de teléfono</label>
                            <div class="input-group">
                                <input type="text" id="phoneNumber" name="phoneNumber"
                                    class="form-control formularioCampo border-left-dark"
                                    placeholder="Número de contacto" formControlName="phoneNumber">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-right"><i
                                            class="fas fa-phone"></i></span>
                                </div>
                                <div class="invalid-feedback">
                                    En este campo solo se permiten letras
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label for="eps" class="form-label">EPS</label>
                            <div class="input-group">
                                <input type="text" id="eps" name="eps"
                                    class="form-control formularioCampo border-left-dark"
                                    placeholder="EPS a la que se encuentra afiliado" formControlName="eps">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-left"><i
                                        class="	fa fa-medkit"></i></span>
                                </div>
                                <div class="invalid-feedback">
                                    En este campo solo se permiten letras
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="address" class="form-label">Dirección</label>
                            <div class="input-group">
                                <input type="text" id="address" name="address"
                                    class="form-control formularioCampo border-left-dark"
                                    placeholder="Dirección de vivienda" formControlName="address">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-right"><i
                                            class="fas fa-home"></i></span>
                                </div>
                                <div class="invalid-feedback">
                                    Este campo es obligatorio.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label for="email" class="form-label">Correo</label>
                            <div class="input-group">
                                <input type="email" id="email" name="email"
                                    class="form-control formularioCampo border-left-dark"
                                    placeholder="Correo Electrónico" formControlName="email">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-right"><i
                                            class="fas fa-at"></i></span>
                                </div>
                                <div class="invalid-feedback">
                                    Este campo es obligatorio.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="password" class="form-label">Contraseña</label>
                            <div class="input-group">
                                <input type="password" id="password" name="password"
                                    class="form-control formularioCampo border-left-dark"
                                    placeholder="Digite su contraseña" formControlName="password">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-right"><i
                                            class="fas fa-eye-slash"></i></span>
                                </div>
                                <div class="invalid-feedback">
                                    Este campo es obligatorio.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-6">
                            <label for="ConfirmPassword" class="form-label">Confirmar contraseña</label>
                            <div class="input-group">
                                <input type="password" id="ConfirmPassword" name="ConfirmPassword"
                                    class="form-control formularioCampo border-left-dark"
                                    placeholder="Correo Electrónico" formControlName="ConfirmPassword">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-right"><i
                                            class="	fas fa-eye-slash"></i></span>
                                </div>
                                <div class="invalid-feedback">
                                    Este campo es obligatorio.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <div class="row">
                    <div class="col">
                        <button (click)="cancel()" type="button" id="cancelButton" class="btn btn-danger">Cancelar</button>
                    </div>
                    <div class="col">
                        <button *ngIf="validForm()" type="submit" id="saveButton" class="btn btn-success">Guardar</button>
                        <button *ngIf="!validForm()" type="submit" id="saveButton" class="btn btn-secondary" >Guardar</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>