<p-confirmDialog icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div *ngIf="user['role'] !== 'Cliente'">
    <div class="col-12">
        <div class="flex align-items-center mb-3">
            <h2 class="text-indigo-500">Viajeros frecuentes</h2>
        </div>
        <div style="border-radius: 15px;">
            <p-table *ngIf="visible" #dt [value]="frequentTravelersList" [paginator]="true" [rows]="2" scrollable="true"
                [loading]="loading" dataKey="customerId"
                [globalFilterFields]="['name', 'lastName', 'document', 'birthDate', 'phoneNumber', 'address', 'eps']">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between">
                        <span class="mt-2 md:mt-0 p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar..." />
                        </span>
                        <button pButton p pRipple type="button" label="Agregar viajero" icon="pi pi-plus"
                            (click)="createFrequentTraveler()" class="p-button-outlined"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="max-width: 5rem"></th>
                        <th pSortableColumn="name" style="min-width: 14rem">
                            Nombre completo <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="document" style="min-width: 10rem">
                            Documento <p-sortIcon field="document"></p-sortIcon>
                        </th>
                        <th pSortableColumn="birthDate" style="min-width: 15rem">
                            Fecha de nacimiento <p-sortIcon field="birthDate"></p-sortIcon>
                        </th>
                        <th style="min-width: 6rem" alignFrozen="right" pFrozenColumn
                            class="flex justify-content-center align-items-center">
                            Acciones
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-frequentTraveler let-expanded="expanded">
                    <tr>
                        <td style="max-width: 5rem">
                            <button type="button" pButton pRipple [pRowToggler]="frequentTraveler"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td style="min-width: 14rem">
                            {{ frequentTraveler.name + ' ' + frequentTraveler.lastName }}
                        </td>
                        <td style="min-width: 10rem">
                            {{ frequentTraveler.document }}
                        </td>
                        <td style="min-width: 15rem">
                            {{ frequentTraveler.birthDate | date: 'dd/MM/yyyy' }}
                        </td>
                        <td alignFrozen="right" pFrozenColumn style="min-width: 6rem"
                            class="flex justify-content-around align-items-center">
                            <span>
                                <button *ngIf="validateEditAllowing(frequentTraveler)" pButton pRipple type="button"
                                    icon="pi pi-pencil" class="p-button-outlined p-button-warning p-button-rounded"
                                    (click)="editFrequentTraveler(frequentTraveler)" pTooltip="Editar"
                                    tooltipPosition="bottom"></button>
                                <button *ngIf="!validateEditAllowing(frequentTraveler)" pButton pRipple
                                    icon="pi pi-pencil" class="p-button-outlined p-button-warning p-button-rounded"
                                    disabled="true"></button>
                            </span>
                            <span>
                                <button pButton pRipple type="button" icon="pi pi-trash"
                                    class="p-button-outlined p-button-danger p-button-rounded"
                                    (click)="deleteFrequentTraveler(frequentTraveler)" pTooltip="Eliminar"
                                    tooltipPosition="bottom"></button>
                            </span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-frequentTraveler>
                    <tr>
                        <td colspan="7">
                            <div class="mx-6 p-1">
                                <div class="grid py-2 px-3 bg-indigo-50 border-round">
                                    <div class="col-2">
                                        <div>
                                            <span class="text-900 font-bold mb-1">EPS:</span>
                                        </div>
                                        <div>
                                            <span class="text-900 font-bold mb-1">Teléfono:</span>
                                        </div>
                                        <div>
                                            <span class="text-900 font-bold">Dirección:</span>
                                        </div>
                                    </div>
                                    <div class="col-10">
                                        <div>
                                            <span class="text-900 mb-1">{{ frequentTraveler.eps }}</span>
                                        </div>
                                        <div>
                                            <span class="text-900 mb-1">{{ frequentTraveler.phoneNumber }}</span>
                                        </div>
                                        <div>
                                            <span class="text-900 mb-1">{{ frequentTraveler.address }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9">No se encontraron viajeros frecuentes.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="card-footer d-flex justify-content-end surface-0">
            <button pButton pRipple type="button" label="Regresar" icon="pi pi-angle-left" class="p-button-outlined"
                (click)="close()"></button>
        </div>
    </div>
</div>

<div *ngIf="user['role'] === 'Cliente'">

    <div class="surface-section px-2 py-4 md:px-4 lg:px-4 border-1 surface-border" style="border-radius: 15px;">
        <p-dataView id="myDv" #dv *ngIf="visible" [value]="frequentTravelersList" filterBy="name" [paginator]="true"
            [rows]="4" layout="grid">
            <ng-template pTemplate="header">
                <div class="flex flex-column md:flex-row justify-content-between align-items-center mb-2">
                    <div class="flex flex-column text-center md:text-left">
                        <span class="text-900 text-2xl mb-2">Mis viajeros frecuentes</span>
                        <span class="text-700 text-lg">La mejor compañia para cada uno de mis viajes</span>
                    </div>
                    <div class="col-5">
                        <div class="flex flex-column gap-2">
                            <span class="p-input-icon-left input-design">
                                <i class="pi pi-search"></i>
                                <input class="w-full small-input" type="search" pInputText
                                    placeholder="Buscar viajero por nombre" (input)="onFilter(dv, $event)">
                            </span>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="gridItem" let-frequentTraveler>
                <div class="col-12 md:col-6 p-3">
                    <div
                        class="p-3 surface-card card-shadow h-15rem d-flex flex-column align-items-center justify-content-center">
                        <button pButton type="button" icon="pi pi-plus" class="p-button-lg p-button-rounded"
                            (click)="createFrequentTraveler()"></button>
                        <div class="p-divider custom-divider mt-3"></div>
                        <p style="font-size: 20px;" class="mb-0">Añadir</p>
                        <p>Viajeros Frecuentes</p>
                    </div>
                </div>
                <div class="col-12 md:col-6 p-3">
                    <div class="p-3 surface-card card-shadow">
                        <div class="flex mb-3">
                            <img [src]="frequentTraveler.img" class="w-4rem h-4rem mr-3"
                                style="bottom: -1.5rem; right: 1.5rem">
                            <div>
                                <div class="text-900 font-semibold text-xl">{{frequentTraveler.name + ' '+
                                    frequentTraveler.lastName}}</div>
                                <div class="text-700">{{frequentTraveler.document}}</div>
                            </div>
                        </div>
                        <p-panel header="Información personal" [toggleable]="true" collapsed="true"
                            class="line-height-3 m-0">
                            <div class="flex mb-1">
                                <!-- <i class="text-900 font-medium pi pi-phone mr-2 mb-0"></i> -->
                                <span class="text-900"><span class="font-bold">Teléfono: </span>
                                    {{frequentTraveler.phoneNumber}}</span>
                            </div>
                            <div class="flex mb-1">
                                <!-- <i class="text-900 font-medium pi pi-map-marker mr-2 mb-0"></i> -->
                                <span class="text-900"><span class="font-bold">EPS: </span>
                                    {{frequentTraveler.eps}}</span>
                            </div>
                            <div class="flex mb-1">
                                <!-- <i class="text-900 font-medium pi pi-calendar mr-2 mb-0"></i> -->
                                <span class="text-900"><span class="font-bold">Fecha de Nacimiento: </span>
                                    {{frequentTraveler.birthDate | date: 'dd/MM/yy' }}</span>
                            </div>
                            <div class="flex mb-0">
                                <!-- <i class="text-900 font-medium pi pi-map-marker mr-2 mb-0"></i> -->
                                <span class="text-900"><span class="font-bold">Dirección: </span>
                                    {{frequentTraveler.address}}</span>
                            </div>
                        </p-panel>
                        <div class="flex justify-content-between mt-3">
                            <span>
                                <button *ngIf="validateEditAllowing(frequentTraveler)" pButton pRipple type="button"
                                    label="Editar información" icon="pi pi-pencil"
                                    class="p-button p-button-raised p-button-text p-button-warning"
                                    (click)="editFrequentTraveler(frequentTraveler)"></button>
                                <button *ngIf="!validateEditAllowing(frequentTraveler)" label="Editar información"
                                    pButton pRipple icon="pi pi-pencil"
                                    class="p-button p-button-raised p-button-text p-button-warning"
                                    disabled="true"></button>
                            </span>
                            <span>
                                <button pButton pRipple type="button" icon="pi pi-trash" label="Descartar"
                                    class="p-button p-button-raised p-button-text p-button-danger"
                                    (click)="deleteFrequentTraveler(frequentTraveler)"></button>
                            </span>
                        </div>
                    </div>

                </div>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <div *ngIf="loading" class="p-3 surface-card card-shadow">
                    <div class="flex mb-3">
                        <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
                        <div>
                            <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                            <p-skeleton height=".5rem"></p-skeleton>
                        </div>
                    </div>
                    <p-skeleton width="100%" height="150px"></p-skeleton>
                    <div class="flex justify-content-between mt-3">
                        <p-skeleton width="4rem" height="2rem"></p-skeleton>
                        <p-skeleton width="4rem" height="2rem"></p-skeleton>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>