.input-design {
    width: 100% !important;
    border-bottom: 1px solid rgb(138, 138, 138) !important;
}

.small-input {
    height: 93%;
    border: none;
}

:host ::ng-deep {
    #myDv {
        .p-dataview-header {
            // background-color: red;
            background-color: #ffffff;
            border: none;
            padding: 0%;
        }
    }
}

.card-shadow {
    border: 1px solid rgb(219, 219, 219) !important;
    border-radius: 20px !important;
    box-shadow: 0px 4px 25px rgba(221, 224, 255, 0.54);
}

.custom-divider {
    width: 40%; 
    height: 2px; 
    background-color: var(--indigo-500); 
}

@media (max-width: 900px) {
    .col-4{
        width: 50% !important;
    }
}