<p-confirmDialog icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="col-12">
    <div class="flex align-items-center mb-3">
        <h2 class="text-blue-500">Viajeros frecuentes</h2>
    </div>
    <div style="border-radius: 15px;">
        <p-table *ngIf="visible" #dt [value]="frequentTravelersList" [paginator]="true" [rows]="3"
            [showCurrentPageReport]="true" scrollable="true" [loading]="loading"
            currentPageReportTemplate="Mostrando desde {first} hasta {last} filas de {totalRecords} viajeros frecuentes."
            [globalFilterFields]="['name', 'lastName', 'document', 'birthDate', 'phoneNumber', 'address', 'eps']">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between">
                    <span class="mt-2 md:mt-0 p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Buscar..." />
                    </span>
                    <button pButton p pRipple type="button" label="Agregar viajero" icon="pi pi-plus"
                        (click)="createFrequentTraveler()" class="p-button-outlined"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name" style="min-width: 14rem">
                        Nombre completo <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="document" style="min-width: 10rem">
                        Documento <p-sortIcon field="document"></p-sortIcon>
                    </th>
                    <th pSortableColumn="birthDate" style="min-width: 15rem">
                        Fecha de nacimiento <p-sortIcon field="birthDate"></p-sortIcon>
                    </th>
                    <th pSortableColumn="phoneNumber" style="width: 8rem">
                        Teléfono <p-sortIcon field="phoneNumber"></p-sortIcon>
                    </th>
                    <th pSortableColumn="address" style="min-width: 15rem">
                        Dirección <p-sortIcon field="address"></p-sortIcon>
                    </th>
                    <th pSortableColumn="eps" style="min-width: 10rem">
                        EPS <p-sortIcon field="eps"></p-sortIcon>
                    </th>
                    <th style="min-width: 10rem" alignFrozen="right" pFrozenColumn
                        class="flex justify-content-center align-items-center">
                        Acciones
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-frequentTraveler>
                <tr>
                    <td style="min-width: 14rem">
                        {{ frequentTraveler.name + ' ' + frequentTraveler.lastName }}
                    </td>
                    <td style="min-width: 10rem">
                        {{ frequentTraveler.document }}
                    </td>
                    <td style="min-width: 15rem">
                        {{ frequentTraveler.birthDate | date: 'MM/dd/yyyy' }}
                    </td>
                    <td style="min-width: 8rem">
                        {{ frequentTraveler.phoneNumber }}
                    </td>
                    <td style="min-width: 15rem">
                        {{ frequentTraveler.address }}
                    </td>
                    <td style="min-width: 10rem">
                        {{ frequentTraveler.eps }}
                    </td>
                    <td alignFrozen="right" pFrozenColumn style="min-width: 10rem"
                        class="flex justify-content-around align-items-center">
                        <span *ngIf="validateEditAllowing(frequentTraveler)">
                            <button pButton pRipple type="button" icon="pi pi-pencil"
                                class="p-button-outlined p-button-warning p-button-rounded"
                                (click)="editFrequentTraveler(frequentTraveler)" pTooltip="Editar"
                                tooltipPosition="bottom"></button>
                        </span>
                        <span>
                            <button pButton pRipple type="button" icon="pi pi-trash"
                                class="p-button-outlined p-button-danger p-button-rounded"
                                (click)="deleteFrequentTraveler(frequentTraveler)" pTooltip="Eliminar"
                                tooltipPosition="bottom"></button>
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="9">No se encontraron viajeros frecuentes.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="flex justify-content-end">
        <button pButton pRipple type="button" label="Regresar" icon="pi pi-undo" class="p-button-outlined"
            (click)="close()"></button>
    </div>
</div>