<p-confirmDialog icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast key="alert-message"></p-toast>

<div *ngIf="oneCustomer !== undefined" [ngClass]="{ 'px-4 pt-0 pb-4': role !== 'Cliente', 'mb-3 mt-5': role === 'Cliente' }">
    <div class="col-12">
        <div [ngClass]="{
        'card p-6': role !== 'Cliente',
        'surface-section p-5 border-1 surface-border': role === 'Cliente'
     }" style="border-radius: 20px;">
            <p-dataView id="myDv" #dv *ngIf="visible" [value]="frequentTravelersList" filterBy="name" [paginator]="true"
                [rows]="dataViewRow()" layout="grid">
                <ng-template pTemplate="header">
                    <div class="flex flex-column md:flex-row justify-content-between align-items-center mb-2">
                        <div class="flex flex-column text-center md:text-left">
                            <div class="text-900 font-medium text-3xl my-2">Viajeros Frecuentes</div>
                            <span class="text-700 text-xl">{{ oneCustomer.name + ' ' + oneCustomer.lastName }}</span>
                        </div>
                        <div class="col-5">
                            <div class="flex flex-column gap-2">
                                <span class="p-input-icon-left input-design">
                                    <i class="pi pi-search"></i>
                                    <input class="w-full small-input" (input)="onFilter(dv, $event)" type="search"
                                        pInputText placeholder="Buscar viajero por nombre">
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template let-frequentTraveler pTemplate="gridItem">
                    <div *ngIf="frequentTraveler.addFtButton" class="col-12" [ngClass]="{
                        'md:col-6': role !== 'Cliente',
                        'md:col-4': role === 'Cliente'
                    }">
                        <div style="min-height: 228px;" (click)="createFrequentTraveler()"
                            class="cursor-pointer card-hover surface-card m-3 p-4 surface-border card-shadow flex flex-column align-items-center justify-content-center">
                            <i class="pi pi-plus-circle border-circle shadow-2 text-primary text-7xl"></i>
                            <h4 class="mb-0 mt-3 text-primary">Agregar</h4>
                            <p class="text-center text-500 text-lg">Viajero Frecuente</p>
                        </div>
                    </div>
                    <div *ngIf="!frequentTraveler.addFtButton" class="col-12" [ngClass]="{
                        'md:col-6': role !== 'Cliente',
                        'md:col-4': role === 'Cliente'
                    }">
                        <div class="surface-card m-3 p-4 surface-border card-shadow">
                            <div class="flex align-items-center mb-3">
                                  <a [href]="frequentTraveler.urlAvatar" target="_blank">
                                    <p-avatar [image]="frequentTraveler.img" styleClass="border-circle shadow-3 mr-3"
                                    size="xlarge" shape="circle"></p-avatar>
                                  </a>
                                <span>
                                    <div class="text-900 font-semibold text-xl">{{frequentTraveler.name + ' '+
                                        frequentTraveler.lastName}}</div>
                                    <div class="text-700">{{frequentTraveler.document}}</div>
                                </span>
                            </div>
                            <p-panel header="Ver resto de Información" [toggleable]="true" collapsed="true"
                                class="line-height-3 m-0">
                                <div class="flex mb-1">
                                    <span class="text-900"><span class="font-bold">Teléfono: </span>
                                        {{frequentTraveler.phoneNumber}}</span>
                                </div>
                                <div class="flex mb-1">
                                    <span class="text-900"><span class="font-bold">EPS: </span>
                                        {{frequentTraveler.eps}}</span>
                                </div>
                                <div class="flex mb-1">
                                    <span class="text-900"><span class="font-bold">Fecha de Nacimiento: </span>
                                        {{frequentTraveler.birthDate | date: 'dd/MM/yy' }}</span>
                                </div>
                                <div class="flex mb-0">
                                    <span class="text-900"><span class="font-bold">Dirección: </span>
                                        {{frequentTraveler.address}}</span>
                                </div>
                            </p-panel>
                            <div class="flex justify-content-end mt-3">
                                <span>
                                    <button *ngIf="validateEditAllowing(frequentTraveler)" pButton pRipple type="button"
                                        label="Editar" icon="pi pi-pencil"
                                        class="mr-3 p-button p-button-raised p-button-text p-button-warning"
                                        (click)="editFrequentTraveler(frequentTraveler)"></button>
                                    <button *ngIf="!validateEditAllowing(frequentTraveler)" label="Editar" pButton
                                        pRipple icon="pi pi-pencil"
                                        class="mr-3 p-button p-button-raised p-button-text p-button-warning"
                                        disabled="true"></button>
                                </span>
                                <span>
                                    <button pButton pRipple type="button" icon="pi pi-trash" label="Eliminar"
                                        class="p-button p-button-raised p-button-text p-button-danger"
                                        (click)="deleteFrequentTraveler(frequentTraveler)"></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
            <div *ngIf="role !== 'Cliente'" class="flex justify-content-end mt-5">
                <p-button icon="pi pi-angle-left" (click)="back()" label="Regresar a Clientes"></p-button>
            </div>
        </div>
    </div>
