.card-user{
    width: 90%;
}

.card-user-header{
    display: flex;
}

.col-personalized-1{
    padding-left: 0px;
}

.col-personalized-2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0px;
}

.label-search{
    padding-right: 0px;
}