<!--Aquí se despliegan los mensajes de exito o error segun sea el caso-->
<p-toast key="alert-message"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="pb-4 px-4 pt-0">
    <div class="col-12">
        <div class="card p-6" style="border-radius: 20px">
            <p-table #dt [value]="userList" [rows]="5" [loading]="loading" [paginator]="true"
                [globalFilterFields]="['email', 'role.name']">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between">
                        <span class="mt-2 md:mt-0 p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input pInputText (input)="dt.filterGlobal($event.target.value,'contains')" type="text"
                                placeholder="Buscar..." />
                        </span>
                        <button pButton pRipple type="button" (click)="openCreateUserModal()" icon="pi pi-plus"
                            label="Registrar usuario" class="p-button p-button-outlined"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="font-medium" style="width: 5rem">
                            Correo electrónico
                        </th>
                        <th class="font-medium" style="width: 5rem">
                            Rol
                        </th>
                        <th class="font-medium" style="width: 5rem">
                            Estado
                        </th>
                        <th class="font-medium" style="width: 5rem">
                            Acciones
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {{ user.role.name }}
                        </td>
                        <td>
                            <span [class]="'user-badge status-' + user.status">{{showStatus(user.status)}}</span>
                        </td>
                        <td class="text-center p-1">
                            <button pButton type="button" icon="pi pi-pencil" [disabled]="user.userId === userLog.id"
                                class="p-button-outlined p-button-warning p-button-rounded m-1"
                                (click)="openUpdateUserModal(user)" pTooltip="Editar" tooltipPosition="bottom"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9">No se encontraron usuarios</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>