<h2 class="text-center mx-0 mt-0 mb-4 text-indigo-500">{{ActionTitle}} paquete</h2>
<form novalidate (submit)="savePackage()" [formGroup]="formGroup">
    <div class="grid">
        <div class="col-7">
            <div class="field">
                <input type="text" pInputText class="w-full"
                    [ngClass]="{ 'border-red-600': validateExistingPackageName() }" formControlName="name" required
                    onkeydown="return /^[A-Za-z0-9\u00C0-\u00FF\s]+$/i.test(event.key)"
                    placeholder="Por favor ingrese el nombre del paquete">
                <small *ngIf="formGroup.get('name')?.errors?.['required'] && formGroup.get('name')?.dirty"
                    class="p-error block">
                    Este campo es obligatorio
                </small>
                <small *ngIf="formGroup.get('name').errors?.['minlength'] && formGroup.get('name')?.dirty"
                    class="p-error block">
                    El nombre del paquete debe tener mínimo 8 caracteres
                </small>
                <small *ngIf="validateExistingPackageName() && formGroup.get('name')?.dirty" class="p-error block">
                    Ya existe un paquete con este nombre
                </small>
            </div>
        </div>
        <div class="col-5">
            <div class="field">
                <p-dropdown formControlName="transport" [style]="{ width: '100%' }" [options]="transports"
                    required="true" placeholder="Seleccione el transporte">
                </p-dropdown>
                <small *ngIf="formGroup.get('transport').errors?.['required'] && formGroup.get('transport')?.dirty"
                    class="p-error block">
                    Este campo es obligatorio
                </small>
            </div>
        </div>
    </div>
    <div class="grid mb-2">
        <div class="col-12">
            <textarea pInputTextarea required rows="2" class="w-full"
                placeholder="Por favor especifique los detalles del paquete" formControlName="details"></textarea>
            <small *ngIf="formGroup.get('details').errors?.['required'] && formGroup.get('details')?.dirty"
                class="p-error block">
                Este campo es obligatorio
            </small>
            <small *ngIf="formGroup.get('details').errors?.['minlength'] && formGroup.get('details')?.dirty"
                class="p-error block">
                El detalle del paquete debe contener al menos 15 caracteres
            </small>
        </div>
    </div>
    <div class="grid">
        <div class="col">
            <div class="field">
                <span class="p-input-icon-left w-full">
                    <i class="pi pi-map-marker "></i>
                    <input class="w-full" pInputText type="text" formControlName="destination"
                        tooltipStyleClass="tooltip" tooltipPosition="top" placeholder="Ingrese el lugar destino" required="true"
                        ngx-google-places-autocomplete [options]="{
                            types: [],
                            componentRestrictions: null
                        }" #placesRef="ngx-places" autocomplete="on" (onAddressChange)="onAddressChangeDestination($event)" onchange="onAddressChangeDestination($event)" />
                </span>
                <small *ngIf="formGroup.get('destination').errors?.['required'] && formGroup.get('destination')?.dirty"
                    class="p-error block">
                    Este campo es obligatorio
                </small>
            </div>
        </div>
        <div class="col">
            <div class="field">
                <span class="p-input-icon-left w-full">
                    <i class="pi pi-map-marker"></i>
                    <input class="w-full" pInputText type="text" formControlName="departurePoint"
                        tooltipStyleClass="tooltip" tooltipPosition="top" placeholder="Ingrese el lugar de partida"
                        required="true" onkeydown="return /^[A-Za-z0-9\u00C0-\u00FF\s]+$/i.test(event.key)"
                        ngx-google-places-autocomplete [options]="{
                        types: [],
                        componentRestrictions: null
                    }" #placesRef="ngx-places" autocomplete="on"  (onAddressChange)="onAddressChange($event)" />
                </span>
                <small
                    *ngIf="formGroup.get('departurePoint').errors?.['required'] && formGroup.get('departurePoint')?.dirty"
                    class="p-error block">
                    Este campo es obligatorio
                </small>
            </div>
        </div>
    </div>
    <div class="grid mb-3">
        <div class="col">
            <span class="field">
                <p-calendar [style]="{ width: '100%' }" formControlName="departureDate" id="calendar" name="calendar"
                    placeholder="Fecha de salida" showIcon="true" dateFormat="dd/mm/yy" [showTime]="true"
                    [required]="true" [ngClass]="{
                                'border-red-600': formGroup.get('departureDate').dirty && formGroup.get('departureDate').invalid
                              }"></p-calendar>
            </span>
            <small class="p-error block"
                *ngIf="formGroup.get('departureDate').errors?.['required'] && formGroup.get('departureDate')?.dirty">
                ESte campo es obligatorio
            </small>
            <small class="p-error block"
                *ngIf="formGroup.get('departureDate').errors && formGroup.get('departureDate').errors.fechaInvalida">
                La fecha de salida debe ser mayor a la fecha actual
            </small>
        </div>
        <div class="col">
            <p-calendar [style]="{ width: '100%' }" formControlName="arrivalDate" placeholder="Fecha de regreso"
                showIcon="true" id="calendar" name="calendar" dateFormat="dd/mm/yy" [showTime]="true" [required]="true"
                [ngClass]="{
                            'border-red-600': formGroup.get('arrivalDate').dirty && formGroup.get('arrivalDate').invalid
                          }"></p-calendar>
            <small class="p-error block"
                *ngIf="formGroup.get('arrivalDate').errors?.['required'] && formGroup.get('arrivalDate')?.dirty">
                ESte campo es obligatorio
            </small>
            <small class="p-error block" *ngIf="formGroup.get('arrivalDate').errors?.fechaInvalida">
                La fecha llegada debe ser mayor a la fecha de salida
            </small>
        </div>
    </div>
    <div class="grid">
        <div class="col">
            <div class="field">
                <span class="p-input-icon-left w-full">
                    <i class="pi pi-home"></i>
                    <input class="w-full" pInputText type="text" formControlName="hotel" required
                        onkeydown="return /^[A-Za-z0-9\u00C0-\u00FF\s]+$/i.test(event.key)"
                        ngx-google-places-autocomplete [options]="{
                            types: ['establishment'],
                            componentRestrictions: null
                        }" #hotelPlacesRef="ngx-places" autocomplete="on"  (onAddressChange)="onHotelAddressChange($event)" 
                        placeholder="Ingrese el nombre del hotel">
                </span>
            </div>
        </div>
        <div class="col">
            <div class="field">
                <input type="number" pInputText class="w-full" formControlName="totalQuotas"
                    placeholder="Ingrese los cupos del paquete" required="true"
                    onkeydown="return /^\d|Backspace|Delete$/.test(event.key)">
                <small class="p-error block"
                    *ngIf="formGroup.get('totalQuotas')?.dirty && formGroup.get('totalQuotas')?.errors?.['required']">
                    Este campo es obligatorio
                </small>
                <small class="p-error block"
                    *ngIf="formGroup.get('totalQuotas')?.dirty && formGroup.get('totalQuotas').errors?.['min']">
                    Deben haber 15 o más cupos
                </small>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="col">
            <div class="field mb-1">
                <span class="p-input-icon-left w-full">
                    <i class="pi pi-dollar"></i>
                    <input class="w-full" pInputText type="number" formControlName="price"
                        placeholder="Ingrese el precio del paquete" required="true"
                        onkeydown="return /^\d|Backspace|Delete$/.test(event.key)">
                </span>
                <small class="p-error block"
                    *ngIf="formGroup.get('price')?.dirty && formGroup.get('price')?.errors?.['required']">
                    Este campo es obligatorio
                </small>
            </div>
        </div>
        <div class="col">
            <div class="field mb-1">
                <span class="p-input-icon-left w-full">
                    <i class="pi pi-dollar"></i>
                    <input class="w-full" pInputText type="number" formControlName="aditionalPrice"
                        tooltipStyleClass="tooltip" tooltipPosition="top" placeholder="Ingrese el precio adicional"
                        [pTooltip]="'Precio por asistencia medica y seguro hotelero'" tooltipEvent="focus"
                        required="true" onkeydown="return /^\d|Backspace|Delete$/.test(event.key)">
                </span>
                <small class="p-error block"
                    *ngIf="formGroup.get('aditionalPrice')?.dirty && formGroup.get('aditionalPrice')?.errors?.['required']">
                    Este campo es obligatorio
                </small>
            </div>
        </div>
        <input formControlName="photos" hidden>
    </div>
    <div class="flex justify-content-end">
       
        <p-button *ngIf="!validForm()" label="Guardar" disabled="true" class=" mr-3" icon="pi pi-check"></p-button>
        <p-button *ngIf="validForm()" type="submit" label="Guardar" class=" mr-3" icon="pi pi-check"></p-button>
        <button pButton pRipple type="button" label="Cancelar" icon="pi pi-times" class="p-button-outlined"
        (click)="cancel()"></button>
    </div>
</form>