input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label {
    font-weight: 300 !important;
}

::ng-deep {
    .p-tooltip {
        max-width: fit-content;
    }
}

::ng-deep {
    .pac-container {
        z-index: 11100 !important;
        box-shadow: none;
        border-left: 1px solid rgba(0,0,0,.3);
        border-right: 1px solid rgba(0,0,0,.3);
        .pac-item {
            padding: 5px;
        }
    }
}
