<p-confirmDialog icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="col-12">
    <div class="flex align-items-center mb-2">
        <h2 class="text-indigo-500">Beneficiarios</h2>
    </div>
    <div class="mb-4">
        <p-table *ngIf="visible" #dt [value]="orderDetailCustomers" [paginator]="true" [rows]="3" scrollable="true"
            [loading]="loading" dataKey="customerId"
            [globalFilterFields]="['name', 'lastName', 'document', 'birthDate', 'phoneNumber', 'address', 'eps', 'unitPrice']">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between">
                    <span class="mt-2 md:mt-0 p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Buscar..." />
                    </span>
                    <button *ngIf="addOrderDetailButton()" pButton p pRipple type="button" label="Agregar beneficiario"
                        icon="pi pi-plus" (click)="addOrderDetail()" class="p-button-outlined"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="max-width: 5rem"></th>
                    <th pSortableColumn="name" style="min-width: 14rem">
                        Nombre completo <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th pSortableColumn="document" style="min-width: 10rem">
                        Documento <p-sortIcon field="document"></p-sortIcon>
                    </th>
                    <th pSortableColumn="birthDate" style="min-width: 15rem">
                        Fecha de nacimiento <p-sortIcon field="birthDate"></p-sortIcon>
                    </th>
                    <th pSortableColumn="unitPrice" style="min-width: 8rem">
                        Precio <p-sortIcon field="unitPrice"></p-sortIcon>
                    </th>
                    <th style="min-width: 7rem" alignFrozen="right" pFrozenColumn
                        class="flex justify-content-center align-items-center">
                        Acciones
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-beneficiarie let-expanded="expanded">
                <tr>
                    <td style="max-width: 5rem">
                        <button type="button" pButton pRipple [pRowToggler]="beneficiarie"
                            class="p-button-text p-button-rounded p-button-plain"
                            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                    </td>
                    <td style="min-width: 14rem">
                        {{ beneficiarie.name + ' ' + beneficiarie.lastName }}
                    </td>
                    <td style="min-width: 10rem">
                        {{ beneficiarie.document }}
                    </td>
                    <td style="min-width: 15rem">
                        {{ beneficiarie.birthDate | date: 'MM/dd/yyyy' }}
                    </td>
                    <td style="min-width: 8rem">
                        {{ beneficiarie.unitPrice | currency: 'USD':'symbol' }}
                    </td>
                    <td alignFrozen="right" pFrozenColumn style="min-width: 7rem"
                        class="flex justify-content-around align-items-center">
                        <span>
                            <button *ngIf="validateEditAllowing(beneficiarie)" pButton pRipple type="button"
                                icon="pi pi-pencil" class="p-button-outlined p-button-warning p-button-rounded"
                                (click)="editOrderDetail(beneficiarie)" pTooltip="Editar"
                                tooltipPosition="bottom"></button>
                            <button *ngIf="!validateEditAllowing(beneficiarie)" pButton pRipple icon="pi pi-pencil"
                                class="p-button-outlined p-button-warning p-button-rounded" disabled="true"></button>
                        </span>
                        <span>
                            <button pButton pRipple type="button" icon="pi pi-trash"
                                class="p-button-outlined p-button-danger p-button-rounded"
                                (click)="deleteOrderDetail(beneficiarie)" pTooltip="Eliminar"
                                tooltipPosition="bottom"></button>
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-beneficiarie>
                <div class="mx-6 p-3">
                    <div class="grid py-2 px-3 bg-indigo-50 border-round">
                        <div class="col-2">
                            <div>
                                <span class="text-900 font-bold mb-1">EPS:</span>
                            </div>
                            <div>
                                <span class="text-900 font-bold mb-1">Teléfono:</span>
                            </div>
                            <div>
                                <span class="text-900 font-bold">Dirección:</span>
                            </div>
                        </div>
                        <div class="col-10">
                            <div>
                                <span class="text-900 mb-1">{{ beneficiarie.eps }}</span>
                            </div>
                            <div>
                                <span class="text-900 mb-1">{{ beneficiarie.phoneNumber }}</span>
                            </div>
                            <div>
                                <span class="text-900 mb-1">{{ beneficiarie.address }}</span>
                            </div>
                        </div>

                    </div>
                    <!-- <p-table [value]="oneBeneficiarie">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="min-width: 33rem">Dirección residencial</th>
                                <th style="min-width: 7rem">Teléfono</th>
                                <th style="min-width: 13rem">EPS</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body">
                            <tr>
                                <td style="min-width: 33rem">
                                    {{ beneficiarie.address }}
                                </td>
                                <td style="min-width: 7rem">
                                    {{ beneficiarie.phoneNumber }}
                                </td>
                                <td style="min-width: 13rem">
                                    {{ beneficiarie.eps }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table> -->
                </div>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="9">No se encontraron beneficiarios.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="flex justify-content-end">
        <button pButton pRipple type="button" label="Regresar" icon="pi pi-angle-left" class="p-button-outlined"
            (click)="closeModal()"></button>
    </div>
</div>