<div class="mt-4" style="width: 90%; margin-left: auto; margin-right: auto;">

    <div class="card p-5" style="box-shadow: 0px 4px 30px rgba(221, 224, 255, .54); border-radius: 25px;">
        <div class="grid mb-7">
            <div class="col-12 lg:col-7">
                <div class="flex">
                    <div class="flex flex-column w-2 justify-content-between" style="row-gap: 1rem;">
                        <img *ngFor="let image of images; let i = index"
                            [ngClass]="{'border-primary': selectedImageIndex === i}" src="{{image}}"
                            class="w-full cursor-pointer border-2 border-transparent transition-colors transition-duration-150 border-round"
                            (click)="selectedImageIndex = i" />
                    </div>
                    <div class="pl-3 w-10 flex">
                        <img src="{{images[selectedImageIndex]}}"
                            class="w-full border-2 border-transparent border-round" />
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-5 py-3 lg:pl-4 lg:pr-5">

                <div class="flex align-items-center text-xl justify-content-between  text-900 mb-4">
                    <h1>{{pack.name}}</h1>
                </div>


                <div class="flex align-items-center justify-content-between mb-2 mt-4">
                    <div>
                        <span class="text-900 font-medium text-3xl block"></span><span class="ml-0 mr-2 text-lg">Con
                            destino a
                        </span>
                        <span class="text-lg"><b class="text-900 mr-1">{{pack.destination}}</b><span
                                class="text-500"></span></span>
                    </div>
                    <div class="flex align-items-center">
                        <span class="text-sm"><b class="text-900 mr-1">{{pack.availableQuotas}}</b><span
                                class="text-500"></span>cupos</span>
                    </div>
                </div>

                <div class="flex align-items-center justify-content-between mb-2 mt-4">
                    <div><small class="text-xl"><b class="text-900 mr-1 text-500">Desde</b></small>
                    </div>
                </div>
                <div class="flex align-items-center text-xl font-medium text-900 mb-4">
                    <span class="text-900 font-medium text-3xl block">{{pack.price +pack.aditionalPrice | currency: 'USD':
                        'symbol'}}</span><span class="ml-2  text-lg">por persona</span>
                </div>



                <div class="flex align-items-center mb-5">
                    <span class="text-lg"><b class="text-900 mr-1">Desde</b><span
                            class="text-500"></span>{{pack.departureDate | date}}</span>
                    <span class="text-lg"><b class="text-900 mr-1 ml-2">Hasta</b>
                        <span class="text-500"></span>{{pack.arrivalDate | date}}</span>
                </div>

                <p-tabView class="first">
                    <p-tabPanel header="Especificaciones">
                        <div class="grid grid-nogutter align-items-center mb-5">
                            <div tooltipPosition="bottom" pTooltip="Transporte"
                                class="col h-3rem border-1 border-300 text-900 inline-flex justify-content-center align-items-center flex-shrink-0 border-round mr-3 cursor-pointer hover:surface-100 transition-duration-150 transition-colors">
                                <i *ngIf="pack.transport=== '1'" class="p-1 fa fa-plane"></i> <i
                                    *ngIf="pack.transport=== '2'" class="p-1 fa fa-bus"></i>
                                <span class="m-1" *ngIf="pack.transport=== 1">Aereo</span>
                                <span class="m-1" *ngIf="pack.transport=== 2">Terrestre</span>
                            </div>
                            <div tooltipPosition="bottom" pTooltip="Alojamiento"
                                class="col h-3rem border-1 border-300 text-900 inline-flex justify-content-center align-items-center flex-shrink-0 border-round mr-3 cursor-pointer hover:surface-100 transition-duration-150 transition-colors">
                                <i class="p-1 fas fa-hotel"></i>
                                <span class="m-1">{{pack.hotel}}</span>
                            </div>
                            <div tooltipPosition="bottom" pTooltip="Lugar de salida"
                                class="col h-3rem border-1 border-300 text-900 inline-flex justify-content-center align-items-center flex-shrink-0 border-round mr-3 cursor-pointer hover:surface-100 transition-duration-150 transition-colors">
                                <i class="fas fa-plane-departure"></i>
                                <span class="m-1">{{pack.departurePoint}}</span>
                            </div>
                        </div>
                    </p-tabPanel>
                    <p-tabPanel leftIcon="pi pi-angle-right">
                        <div>
                            <p class="text-lg fw-bold">
                                Disfruta de una habitación única en el hotel {{pack.hotel}}, hospedándote al mejor
                                estilo, nuestras carretas inmensas en el hermoso embalse de {{pack.destination}} te
                                permitirán deleitarte de esta experiencia, ya
                                sea para una escapada romántica o para compartir con familia y amigos partiendo desde
                                {{pack.departurePoint}}.
                            </p>
                        </div>
                    </p-tabPanel>
                </p-tabView>
                <div *ngIf="role !== 'Administrador'">
                    <div class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between">
                        <div class="flex align-items-center flex-1 mt-3 sm:mt-0 ml-0 sm:ml-5">
                            <!-- Si el usuario tiene una sesión iniciada, mostrar el botón de reserva -->
                            <button *ngIf="isLoggedIn" pButton label="Reservar" class="flex-1 mr-5"
                                (click)="reserve(pack, quantity)"></button>

                            <!-- Si el usuario NO tiene una sesión iniciada, mostrar el botón de login -->
                            <button *ngIf="!isLoggedIn" pButton label="Reservar" class="flex-1 mr-5"
                                (click)="goToLogin()"></button>
                        </div>
                    </div>
                </div>

                <div class="p-4 font-medium">No esperes más para vivir una aventura increíble. ¡Reserva ahora y
                    comienza a explorar los tesoros que el mundo tiene para ofrecerte!</div>
                <div class="col-12" *ngIf="role === 'Administrador'">
                    <button pButton label="Regresar" class="flex-1 mr-5 w-full" (click)="goBack()"></button>
                </div>
            </div>
        </div>

        <p-tabView>
            <p-tabPanel header="Detalles">
                <div class="text-900 font-bold text-3xl mb-4 mt-2">Detalles del paquete</div>
                <p class="line-height-3 text-600 p-0 mx-0 mt-0 mb-4">{{pack.details}}</p>
            </p-tabPanel>
            <p-tabPanel header="Información sobre los paquetes">

                <ul class="list-none p-0 m-0">
                    <li class="p-3 border-bottom-1 m-1 surface-border">

                        <div class="text-900 font-bold text-xl my-3">Descubre el Mundo con Nuestros Paquetes Turísticos
                        </div>
                        <p class="mx-0 mt-0 mb-3 text-600 line-height-3">¡Bienvenido a una emocionante aventura de
                            descubrimiento! Nuestros paquetes turísticos te invitan a explorar algunos de los destinos
                            más increíbles del mundo. Sumérgete en la rica cultura, historia y belleza natural de
                            diversos lugares mientras creas recuerdos invaluables.</p>
                    </li>
                    <li class="p-3 border-bottom-1 m-1 surface-border">

                        <div class="text-900 font-bold text-xl my-3">Experiencias Únicas:</div>
                        <span>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500"></i>
                        </span>
                        <p class="mx-0 mt-0 mb-3 text-600 line-height-3">Cada uno de nuestros paquetes turísticos ofrece
                            experiencias únicas y emocionantes. Desde explorar ciudades vibrantes hasta adentrarte en
                            paisajes naturales impresionantes, cada destino tiene algo especial para ofrecer.</p>
                    </li>
                    <li class="p-3 border-bottom-1 m-1 surface-border">

                        <div class="text-900 font-bold text-xl my-3">Cultura y Tradiciones:</div>
                        <span>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500"></i>
                        </span>
                        <p class="mx-0 mt-0 mb-3 text-600 line-height-3">Descubre la fascinante cultura y tradiciones de
                            cada lugar que visitas. Desde festivales coloridos hasta arte y música local, tendrás la
                            oportunidad de sumergirte en las auténticas expresiones culturales de cada destino.</p>
                    </li>
                    <li class="p-3 border-bottom-1 m-1 surface-border">

                        <div class="text-900 font-bold text-xl my-3">Aventura y Naturaleza:</div>
                        <span>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500"></i>
                        </span>
                        <p class="mx-0 mt-0 mb-3 text-600 line-height-3">Si te apasiona la aventura y la naturaleza,
                            nuestros paquetes te brindan la oportunidad de explorar majestuosos paisajes, realizar
                            emocionantes actividades al aire libre y conectar con la belleza natural de nuestro planeta.
                        </p>
                    </li>
                    <li class="p-3 border-bottom-1 m-1 surface-border">

                        <div class="text-900 font-bold text-xl my-3">Gastronomía Deliciosa:</div>
                        <span>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500"></i>
                        </span>
                        <p class="mx-0 mt-0 mb-3 text-600 line-height-3">Disfruta de la diversidad culinaria de cada
                            región. Nuestros paquetes te llevarán a degustar sabores auténticos y platos tradicionales
                            que deleitarán tus sentidos.</p>
                    </li>
                    <li class="p-3 border-bottom-1 m-1 surface-border">

                        <div class="text-900 font-bold text-xl my-3">Descanso y Bienestar:</div>
                        <span>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500"></i>
                        </span>
                        <p class="mx-0 mt-0 mb-3 text-600 line-height-3">Después de días llenos de emociones, también
                            encontrarás momentos de relajación y bienestar. Descansa en cómodos alojamientos y, si lo
                            deseas, disfruta de spas y tratamientos revitalizantes.</p>
                    </li>
                    <li class="p-3 border-bottom-1 m-1 surface-border">

                        <div class="text-900 font-bold text-xl my-3">Grupos Pequeños y Guías Expertos:</div>
                        <span>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500"></i>
                        </span>
                        <p class="mx-0 mt-0 mb-3 text-600 line-height-3">Viajarás en grupos pequeños, lo que garantiza
                            una experiencia más personalizada y auténtica. Nuestros guías expertos estarán contigo en
                            cada paso del camino para asegurarse de que vivas una experiencia inolvidable.</p>
                    </li>
                    <li class="p-3 border-bottom-1 m-1 surface-border">

                        <div class="text-900 font-bold text-xl my-3">El Viaje de tus Sueños:</div>
                        <span>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500 mr-1"></i>
                            <i class="pi pi-star-fill text-yellow-500"></i>
                        </span>
                        <p class="mx-0 mt-0 mb-3 text-600 line-height-3">No importa cuál de nuestros paquetes elijas,
                            cada uno promete ser un viaje de ensueño. Nuestro objetivo es proporcionarte momentos
                            inolvidables y la oportunidad de descubrir el mundo desde una perspectiva única.</p>
                    </li>

                </ul>
            </p-tabPanel>
        </p-tabView>
    </div>

</div>