:host ::ng-deep {
    .first div {
        width: 100%;
        :first-child{
            display: flex;
            justify-content: space-between;
            div ul{
                border: none;
            }
        }
    }
}