<!-- <div class="flex justify-content-center align-items-center w-100">
    <div class="card border-0 shadow-lg">
        <div class="card-body">
            <form [formGroup]="formGroup" (ngSubmit)="recoverPassword()">
                <div class="field col-12 lg:col-12">
                    <span class="p-input-icon-left w-full">
                        <i class="pi pi-key"></i>
                        <input
                            id="currentPassword"
                            type="text"
                            pInputText
                            class="w-full"
                            placeholder="Contraseña Actual"
                            formControlName="currentPassword"
                            required
                            onkeydown="return /[a-z A-Z 0-9]/i.test(even.key)"
                        />
                    </span>
                    <small
                        class="p-error block"
                        *ngIf="formGroup.get('currentPassword').dirty && formGroup.get('currentPassword')?.errors?.['required']"
                    >
                        Este campo es obligatorio.
                    </small>
                    <small
                        class="p-error block"
                        *ngIf="formGroup.get('currentPassword').dirty && formGroup.get('currentPassword')?.errors?.['minlength']"
                    >
                        Este campo debe tener mínimo 8 caracteres
                    </small>
                </div>
                <div class="field col-12 lg:col-12">
                    <span class="p-input-icon-right w-full">
                        <i
                            (click)="displayPassword()"
                            class="pi cursor-pointer"
                            [ngClass]="{
                                'pi-eye': Visible,
                                'pi-eye-slash': !Visible
                            }"
                        ></i>
                        <input
                            pInputText
                            placeholder="Ingrese su nueva contraseña"
                            class="w-full"
                            [type]="Visible ? 'text' : 'password'"
                            formControlName="password"
                            required="true"
                            minlength="8"
                            maxlength="30"
                            onkeydown="return /[a-z A-Z .*- 0-9]/i.test(even.key)"
                        />
                    </span>
                    <small
                        class="p-error block"
                        *ngIf="formGroup.get('newPassword').dirty && formGroup.get('newPassword')?.errors?.['required']"
                    >
                        Este campo es obligatorio.
                    </small>
                    <small
                        class="p-error block"
                        *ngIf="formGroup.get('newPassword').dirty && formGroup.get('newPassword')?.errors?.['minlength']"
                    >
                        Este campo debe tener mínimo 8 caracteres
                    </small>
                </div>
                <div class="field col-12 lg:col-12">
                    <span class="p-input-icon-right w-full">
                        <i
                            (click)="displayConfirmPassword()"
                            class="pi cursor-pointer"
                            [ngClass]="{
                                'pi-eye': Visible2,
                                'pi-eye-slash': !Visible2
                            }"
                        ></i>
                        <input
                            pInputText
                            placeholder="Ingrese la confirmación de su nueva contraseña"
                            class="w-full"
                            [type]="Visible2 ? 'text' : 'password'"
                            formControlName="confirmPassword"
                            required="true"
                            minlength="8"
                            maxlength="30"
                            onkeydown="return /[a-z A-Z .*- 0-9]/i.test(even.key)"
                        />
                    </span>
                    <small
                        class="p-error block"
                        *ngIf="formGroup.get('confirmPassword').dirty && formGroup.get('confirmPassword')?.errors?.['required']"
                    >
                        Este campo es obligatorio.
                    </small>
                    <small
                        class="p-error block"
                        *ngIf="
                            formGroup.get('confirmPassword').dirty &&
                            !validatePassword()
                        "
                    >
                        Las contraseñas deben coincidir
                    </small>
                </div>
                <div class="grid flex justify-content-end">
                    <div class="field col-12 md:col-8">
                        <button
                            type="submit"
                            id="saveButton"
                            pButton
                            pRipple
                            label="Cambiar Contraseña"
                            class="w-full"
                            ng-reflect-label="Cambiar Contraseña"
                            [disabled]="!validForm()"
                        ></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->
