.custom-calendar {
  width: 100% !important;
  height: 600px !important;
}

.subtitles
{
  font-weight: 700;
  margin-bottom: 45px;
}

.style-edit {
  border-radius: 10px !important;
  padding: 4px !important;
  font-size: small;
}

.card-span{
  border-radius: 1.5rem; left: 80%; top: 1rem;
}
