.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100px;
    color: white;
    background-color: black;
    font-size: 15px;
    padding: 5px;
    border-radius: 15px;

}

.hover-text:hover .tooltip-text {
    visibility: visible;
    font-style: italic;
}

.bottom {
    top: 30px;
    left: -100%;
}

.hover-text {
    position: relative;
    margin: 40px;
    text-align: center;
}

.hover-text {
    padding: 5px;
    margin: 0px;
}

.infoData {
    display: flex;
    justify-content: center;
}