<nav class="sidebar vh-100" *ngIf="role !== 'Cliente'">
    <header class="p-2">
        <div class="image-text">
            <span class="image">
                <img src="https://img.freepik.com/vector-gratis/logotipo-viaje-detallado_23-2148616611.jpg?w=2000"
                    alt="">
            </span>

            <div class="text logo-text">
                <span class="name">TuristiK</span>
                <span class="profession">{{user.role}}</span>
            </div>
        </div>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <ng-container *ngFor="let item of menu">
                    <ng-container *ngIf="item.allowed">
                        <app-menu-item [menuItem]="item"></app-menu-item>
                    </ng-container>
                </ng-container>
            </ul>
        </div>
    </div>

</nav>