
<!-- Sidebar -->
<div class="sidebar" *ngIf="role !== 'Cliente'">
    <header>
      <div class="image-text">
          <span class="image">
              <!-- logo -->
          </span>

          <div class="text logo-text">
              <span class="name">TuristiK</span>
              <span class="profession">Nombre de Usuario</span>
          </div>
      </div>

    </header>

        <app-sidebar-search></app-sidebar-search>

    <nav class="mt-2">
        <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
        >
            <ng-container *ngFor="let item of menu">
                <ng-template [ngIf]="item.allowed">
                    <app-menu-item [menuItem]="item"></app-menu-item>
                </ng-template>
            </ng-container>
        </ul>
    </nav>
</div>



