<div class="col-12">
    <div class="flex align-items-center mb-1">
        <h2 class="text-blue-500">Abonos</h2>
    </div>
    <div class="mb-2" style="border-radius: 15px;">
        <p-table *ngIf="visible" #dt [value]="payments" [paginator]="true" [rows]="2" [showCurrentPageReport]="true"
            scrollable="true" [loading]="loading"
            currentPageReportTemplate="Mostrando desde {first} hasta {last} filas de {totalRecords} abonos."
            [globalFilterFields]="['amount', 'remainingAmount', 'date']">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between">
                    <span class="mt-2 md:mt-0 p-input-icon-right">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Buscar..." />
                    </span>
                    <button *ngIf="existingRemainingAmount()" pButton p pRipple type="button" label="Agregar abono"
                        icon="pi pi-plus" (click)="addPayment()" class="p-button-outlined"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="amount" style="min-width: 9rem">
                        Monto <p-sortIcon field="amount"></p-sortIcon>
                    </th>
                    <th pSortableColumn="remainingAmount" style="min-width: 12rem">
                        Monto restante <p-sortIcon field="remainingAmount"></p-sortIcon>
                    </th>
                    <th pSortableColumn="date" style="min-width: 13rem">
                        Fecha de registro <p-sortIcon field="date"></p-sortIcon>
                    </th>
                    <th style="min-width: 10rem">
                        Comprobante
                    </th>
                    <th pSortableColumn="status" style="min-width: 8rem">
                        Estado <p-sortIcon field="status"></p-sortIcon>
                    </th>
                    <th style="min-width: 7rem" alignFrozen="right" pFrozenColumn class="flex justify-content-center">
                        Editar
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-payment>
                <tr>
                    <td style="min-width: 9rem">
                        {{ payment.amount | currency: 'USD':'symbol' }}
                    </td>
                    <td style="min-width: 12rem">
                        {{ payment.remainingAmount | currency: 'USD':'symbol' }}
                    </td>
                    <td style="min-width: 13rem">
                        {{ payment.date | date:'MM/dd/yyyy - HH:mm' }}
                    </td>
                    <td style="min-width: 10rem" >
                        <span>
                            <button pButton pRipple type="button" icon="pi pi-eye"
                                class="p-button-outlined p-button-rounded" (click)="editPayment(payment)"
                                pTooltip="Ver comprobante" tooltipPosition="bottom"></button>
                        </span>
                    </td>
                    <td style="min-width: 8rem">
                        <span [class]="'payment-badge status-' + payment.status">{{showStatus(payment.status)}}</span>
                    </td>
                    <td alignFrozen="right" pFrozenColumn style="min-width: 7rem"
                        class="flex justify-content-around align-items-center">
                        <span>
                            <button pButton pRipple type="button" icon="pi pi-pencil"
                                class="p-button-outlined p-button-warning p-button-rounded"
                                (click)="editPayment(payment)" pTooltip="Editar" tooltipPosition="bottom"></button>
                        </span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="9">No se encontraron abonos.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="footer">
                <tr>
                    <td *ngIf="existingRemainingAmount()" colspan="12">Restante: {{ remainingAmount |
                        currency:'USD':'symbol'}}</td>
                    <td *ngIf="!existingRemainingAmount()" colspan="12">¡Ya pagaste la totalidad del pedido!</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="flex justify-content-end">
        <button pButton pRipple type="button" label="Regresar" icon="pi pi-undo" class="p-button-outlined"
            (click)="closeModal()"></button>
    </div>
</div>