<p-confirmDialog></p-confirmDialog>
<div class="flex justify-content-between">
    <h2 class="m-0 text-indigo-500">Proceso de Reserva</h2>
    <div *ngIf="orderProcess[0].action !== 'EditOrderDetail'">
        <button *ngIf="beneficiariesForm() && showBeneficiariesTable()" (click)="reduceBeneficiariesAmount()" pButton
            pRipple type="button" label="Disminuir beneficiario" icon="pi pi-user-minus"
            class="p-button-outlined mr-3"></button>
        <p-button
            *ngIf="addAnotherBeneficiarieButton() && beneficiariesForm() && showBeneficiariesTable() || addAnotherBeneficiarieButton() && !beneficiariesForm() && showBeneficiariesTable()"
            (click)="addAnotherBeneficiarie()" label="Añadir beneficiario" icon="pi pi-user-plus"></p-button>
    </div>
</div>
<div class="flex justify-content-between">
    <div *ngIf="beneficiariesForm() && showBeneficiariesTable()" class="col-5 py-0">
        <p-divider class="text-indigo-500" align="center">
            <b>Formulario de Beneficiarios</b>
        </p-divider>
        <form novalidate [formGroup]="formGroup">
            <div class="grid">
                <div class="col">
                    <div class="field">
                        <div class="p-inputgroup">
                            <input pInputText type="text" formControlName="document" required="true" minlength="8"
                                maxlength="15" placeholder="Ingrese el documento" class="w-full"
                                [ngClass]="{ 
                                    'border-green-500': customerInformation() && !alreadyExists(),
                                    'border-red-600': alreadyExistsFromEdit() || alreadyExists() || !validateOnlyNumbers() || validateStatus()}"
                                onkeydown="return /^\d|Backspace|Delete$/.test(event.key)">
                            <button *ngIf="customerInformation() && !alreadyExists()" pButton pRipple type="button"
                                (click)="fillCustomerInformation()" pTooltip="Agregar beneficiario"
                                tooltipPosition="bottom" icon="pi pi-user-plus" class="p-button-success"></button>
                        </div>
                        <small class="p-error block"
                            *ngIf="formGroup.get('document')?.dirty && formGroup.get('document')?.errors?.['required']">
                            Este campo es obligatorio
                        </small>
                        <small class="p-error block"
                            *ngIf="formGroup.get('document')?.dirty && formGroup.get('document')?.errors?.['minlength']">
                            Deben ser mínimo 8 números
                        </small>
                        <small class="p-error block" *ngIf="formGroup.get('document')?.dirty && alreadyExists()">
                            Este documento ya está en uso
                        </small>
                        <small class="block text-green-500"
                            *ngIf="formGroup.get('document')?.dirty && customerInformation() && !alreadyExists()">
                            !Beneficiario encontrado!
                        </small>
                        <small class="p-error block" *ngIf="formGroup.get('document')?.dirty && !validateOnlyNumbers()">
                            Por favor ingrese solo números
                        </small>
                        <small class="p-error block" *ngIf="formGroup.get('document')?.dirty && validateStatus()">
                            Este documento no está disponible
                        </small>
                    </div>
                </div>
                <div class="col">
                    <div class="field">
                        <input pInputText type="text" formControlName="name" required="true" minlength="3"
                            maxlength="30" placeholder="Ingrese los nombres" class="w-full"
                            onkeydown="return /^[a-zA-Z\u00C0-\u017F\s]+$/i.test(event.key)" />
                        <small class="p-error block"
                            *ngIf="formGroup.get('name')?.dirty && formGroup.get('name')?.errors?.['required']">
                            Este campo es obligatorio.
                        </small>
                        <small class="p-error block"
                            *ngIf="formGroup.get('name')?.dirty && formGroup.get('name')?.errors?.['minlength']">
                            Deben ser al menos 3 letras.
                        </small>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col">
                    <div class="field">
                        <input pInputText type="text" formControlName="lastName" required="true" minlength="3"
                            maxlength="30" placeholder="Ingrese los apellidos" class="w-full"
                            onkeydown="return /^[a-zA-Z\u00C0-\u017F\s]+$/i.test(event.key)">
                        <small class="p-error block"
                            *ngIf="formGroup.get('lastName')?.dirty && formGroup.get('lastName')?.errors?.['required']">
                            Este campo es obligatorio.
                        </small>
                        <small class="p-error block"
                            *ngIf="formGroup.get('lastName')?.errors?.['minlength'] && formGroup.get('lastName')?.dirty">
                            Deben ser al menos 3 letras.
                        </small>
                    </div>
                </div>
                <div class="col">
                    <div class="field">
                        <p-calendar dateFormat="dd/mm/yy" formControlName="birthdate" required="true"
                            placeholder="Fecha de nacimiento" [showIcon]="true" [style]="{ width: '100%' }"
                            [readonlyInput]="true" [maxDate]="beneficiariesMaxDate"></p-calendar>
                        <small class="p-error block"
                            *ngIf="formGroup.get('birthdate')?.dirty && formGroup.get('birthdate')?.errors?.['required']">
                            Este campo es obligatorio.
                        </small>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-12">
                    <div class="field">
                        <div class="p-input-icon-left w-full">
                            <i class="pi pi-map-marker"></i>
                            <input pInputText type="text" formControlName="address" required="true"
                                placeholder="País - Departamento - Ciudad - Dirección" class="w-full">
                        </div>
                        <small class="p-error block"
                            *ngIf="formGroup.get('address')?.dirty && formGroup.get('address')?.errors?.['required']">
                            Este campo es obligatorio.
                        </small>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col">
                    <div class="field">
                        <p-dropdown formControlName="eps" required="true" [options]="allEps"
                            placeholder="Seleccione la EPS" [showClear]="true"
                            [style]="{ width: '100%', 'max-width': '13.7rem'}"></p-dropdown>
                        <small class="p-error block"
                            *ngIf="formGroup.get('eps')?.dirty && formGroup.get('eps')?.errors?.['required']">
                            Este campo es obligatorio.
                        </small>
                    </div>
                </div>
                <div class="col">
                    <div class="field">
                        <span class="p-input-icon-left w-full">
                            <i class="pi pi-phone"></i>
                            <input pInputText type="text" formControlName="phoneNumber" minlength="10" maxlength="10"
                                required="true" placeholder="Ingrese el número" class="w-full" [ngClass]="{
                                    'border-red-600': !validateOnlyNumbersForPhoneNumber()
                                }" onkeydown="return /^\d|Backspace|Delete$/.test(event.key)" />
                        </span>
                        <small class="p-error block"
                            *ngIf="formGroup.get('phoneNumber')?.dirty && formGroup.get('phoneNumber')?.errors?.['required']">
                            Este campo es obligatorio.
                        </small>
                        <small class="p-error block"
                            *ngIf="formGroup.get('phoneNumber')?.errors?.['minlength'] && formGroup.get('phoneNumber')?.dirty">
                            Deben ser 10 números.
                        </small>
                        <small class="p-error block"
                            *ngIf="formGroup.get('phoneNumber')?.dirty && !validateOnlyNumbersForPhoneNumber()">
                            Por favor ingrese solo números
                        </small>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col">
                    <div class="field-checkbox">
                        <p-checkbox formControlName="addToFt" inputId="addToFt" [binary]="true"></p-checkbox>
                        <label for="addToFt" class="mb-0">Agregar beneficiario a mis Viajeros Frecuentes</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="beneficiariesForm() && !showBeneficiariesTable()" class="col-12 py-0">
        <p-divider class="text-indigo-500" align="center">
            <b>Formulario de Beneficiarios</b>
        </p-divider>
        <form novalidate [formGroup]="formGroup">
            <div class="grid"> <!--DOCUMENT Y NAME-->
                <div *ngIf="!comesFromEdit()" class="col">
                    <div class="field">
                        <div class="p-inputgroup">
                            <input pInputText type="text" formControlName="document" required="true" minlength="8"
                                maxlength="15" placeholder="Ingrese el número del documento del beneficiario"
                                class="w-full"
                                [ngClass]="{ 
                                    'border-green-500': customerInformation() && !alreadyExists(),
                                    'border-red-600': alreadyExistsFromEdit() || alreadyExists() || !validateOnlyNumbers() || validateStatus()}"
                                onkeydown="return /^\d|Backspace|Delete$/.test(event.key)">
                            <button *ngIf="customerInformation() && !alreadyExists()" pButton pRipple type="button"
                                (click)="fillCustomerInformation()" pTooltip="Agregar beneficiario"
                                tooltipPosition="bottom" icon="pi pi-user-plus" class="p-button-success"></button>
                        </div>
                        <small class="p-error block"
                            *ngIf="formGroup.get('document')?.dirty && formGroup.get('document')?.errors?.['required']">
                            Este campo es obligatorio
                        </small>
                        <small class="p-error block"
                            *ngIf="formGroup.get('document')?.dirty && formGroup.get('document')?.errors?.['minlength']">
                            Este campo debe tener mínimo 8 números
                        </small>
                        <small class="p-error block" *ngIf="formGroup.get('document')?.dirty && alreadyExists()">
                            Este número de documento ya está en uso
                        </small>
                        <small class="p-error block"
                            *ngIf="formGroup.get('document')?.dirty && alreadyExistsFromEdit()">
                            Este número de documento ya está en uso
                        </small>
                        <small class="block text-green-500"
                            *ngIf="formGroup.get('document')?.dirty && customerInformation() && !alreadyExists()">
                            !Beneficiario encontrado! Haga click en el botón para agregarlo
                        </small>
                        <small class="p-error block" *ngIf="formGroup.get('document')?.dirty && !validateOnlyNumbers()">
                            Por favor ingrese solo números
                        </small>
                        <small class="p-error block" *ngIf="formGroup.get('document')?.dirty && validateStatus()">
                            Este documento no está disponible
                        </small>
                    </div>
                </div>
                <div class="col">
                    <div class="field">
                        <input pInputText type="text" formControlName="name" required="true" minlength="3"
                            maxlength="30" placeholder="Ingrese los nombres del beneficiario" class="w-full"
                            onkeydown="return /^[a-zA-Z\u00C0-\u017F\s]+$/i.test(event.key)" />
                        <small class="p-error block"
                            *ngIf="formGroup.get('name')?.dirty && formGroup.get('name')?.errors?.['required']">
                            Este campo es obligatorio.
                        </small>
                        <small class="p-error block"
                            *ngIf="formGroup.get('name')?.dirty && formGroup.get('name')?.errors?.['minlength']">
                            Este campo debe contener al menos 3 letras.
                        </small>
                    </div>
                </div>
                <div *ngIf="comesFromEdit()" class="col">
                    <div class="field">
                        <input pInputText type="text" formControlName="lastName" required="true" minlength="3"
                            maxlength="30" placeholder="Ingrese los apellidos del beneficiario" class="w-full"
                            onkeydown="return /^[a-zA-Z\u00C0-\u017F\s]+$/i.test(event.key)">
                        <small class="p-error block"
                            *ngIf="formGroup.get('lastName')?.dirty && formGroup.get('lastName')?.errors?.['required']">
                            Este campo es obligatorio.
                        </small>
                        <small class="p-error block"
                            *ngIf="formGroup.get('lastName')?.errors?.['minlength'] && formGroup.get('lastName')?.dirty">
                            Este campo debe contener al menos 3 letras.
                        </small>
                    </div>
                </div>
            </div>
            <div *ngIf="!comesFromEdit()" class="grid"> <!--LASTNAME Y BIRTHDATE-->
                <div class="col">
                    <div class="field">
                        <input pInputText type="text" formControlName="lastName" required="true" minlength="3"
                            maxlength="30" placeholder="Ingrese los apellidos del beneficiario" class="w-full"
                            onkeydown="return /^[a-zA-Z\u00C0-\u017F\s]+$/i.test(event.key)">
                        <small class="p-error block"
                            *ngIf="formGroup.get('lastName')?.dirty && formGroup.get('lastName')?.errors?.['required']">
                            Este campo es obligatorio.
                        </small>
                        <small class="p-error block"
                            *ngIf="formGroup.get('lastName')?.errors?.['minlength'] && formGroup.get('lastName')?.dirty">
                            Este campo debe contener al menos 3 letras.
                        </small>
                    </div>
                </div>
                <div class="col">
                    <div class="field">
                        <p-calendar dateFormat="dd/mm/yy" formControlName="birthdate" required="true"
                            placeholder="Ingrese la fecha de nacimiento del beneficiario" [showIcon]="true"
                            [style]="{ width: '100%' }" [maxDate]="beneficiariesMaxDate"
                            [readonlyInput]="true"></p-calendar>
                        <small class="p-error block"
                            *ngIf="formGroup.get('birthdate')?.dirty && formGroup.get('birthdate')?.errors?.['required']">
                            Este campo es obligatorio.
                        </small>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-12">
                    <div class="field">
                        <div class="p-input-icon-left w-full">
                            <i class="pi pi-map-marker"></i>
                            <input pInputText type="text" formControlName="address" required="true"
                                placeholder="País - Departamento - Ciudad - Dirección" class="w-full">
                        </div>
                        <small class="p-error block"
                            *ngIf="formGroup.get('address')?.dirty && formGroup.get('address')?.errors?.['required']">
                            Este campo es obligatorio.
                        </small>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col">
                    <div class="field">
                        <p-dropdown formControlName="eps" required="true" [options]="allEps"
                            placeholder="Seleccione la EPS del beneficiario" [showClear]="true"
                            [style]="{ width: '100%', 'max-width': '36.6rem'}"></p-dropdown>
                        <small class="p-error block"
                            *ngIf="formGroup.get('eps')?.dirty && formGroup.get('eps')?.errors?.['required']">
                            Este campo es obligatorio.
                        </small>
                    </div>
                </div>
                <div class="col">
                    <div class="field">
                        <span class="p-input-icon-left w-full">
                            <i class="pi pi-phone"></i>
                            <input pInputText type="text" formControlName="phoneNumber" minlength="10" maxlength="10"
                                required="true" placeholder="Ingrese el número teléfonico del beneficiario" [ngClass]="{
                                    'border-red-600': !validateOnlyNumbersForPhoneNumber()
                                }" class="w-full" onkeydown="return /^\d|Backspace|Delete$/.test(event.key)" />
                        </span>
                        <small class="p-error block"
                            *ngIf="formGroup.get('phoneNumber')?.dirty && formGroup.get('phoneNumber')?.errors?.['required']">
                            Este campo es obligatorio.
                        </small>
                        <small class="p-error block"
                            *ngIf="formGroup.get('phoneNumber')?.errors?.['minlength'] && formGroup.get('phoneNumber')?.dirty">
                            Este campo debe contener 10 números.
                        </small>
                        <small class="p-error block"
                            *ngIf="formGroup.get('phoneNumber')?.dirty && !validateOnlyNumbersForPhoneNumber()">
                            Por favor ingrese solo números
                        </small>
                    </div>
                </div>
            </div>
            <div *ngIf="orderProcess[0].action !== 'EditOrderDetail'" class="grid">
                <div class="col">
                    <div class="field-checkbox">
                        <p-checkbox formControlName="addToFt" inputId="addToFt" [binary]="true"></p-checkbox>
                        <label for="addToFt" class="mb-0">Agregar beneficiario a mis Viajeros Frecuentes</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="beneficiariesForm() && showBeneficiariesTable()" class="col-1 py-0">
        <p-divider layout="vertical">
        </p-divider>
    </div>
    <div *ngIf="showBeneficiariesTable() && beneficiariesForm()" class="col-6 py-0">
        <p-divider class="text-indigo-500" align="center">
            <b>Lista de Beneficiarios</b>
        </p-divider>
        <p-table *ngIf="visible" [value]="beneficiaries" [paginator]="true" [rows]="2" [scrollable]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 9rem" pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th style="min-width: 9rem" pSortableColumn="lastName">Apellidos <p-sortIcon
                            field="lastName"></p-sortIcon>
                    </th>
                    <th style="min-width: 9rem" pSortableColumn="document">Documento <p-sortIcon
                            field="document"></p-sortIcon>
                    </th>
                    <th style="min-width: 15rem" pSortableColumn="birthDate">Fecha de nacimiento<p-sortIcon
                            field="birthDate"></p-sortIcon>
                    </th>
                    <th style="min-width: 9rem" pSortableColumn="phoneNumber">Teléfono <p-sortIcon
                            field="phoneNumber"></p-sortIcon></th>
                    <th style="min-width: 15rem" pSortableColumn="address">Dirección <p-sortIcon
                            field="address"></p-sortIcon>
                    </th>
                    <th style="min-width: 9rem" pSortableColumn="eps">EPS <p-sortIcon field="eps"></p-sortIcon>
                    </th>
                    <th style="min-width: 9rem" pSortableColumn="price">Precio <p-sortIcon field="price"></p-sortIcon>
                    </th>
                    <th style="min-width: 6rem" pFrozenColumn alignFrozen="right" class="frozen-col">
                        Eliminar
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-beneficiarie>
                <tr>
                    <td style="min-width: 9rem">{{ beneficiarie.name }}</td>
                    <td style="min-width: 9rem">{{ beneficiarie.lastName }}</td>
                    <td style="min-width: 9rem">{{ beneficiarie.document }}</td>
                    <td style="min-width: 15rem">{{ beneficiarie.birthDate | date: 'MM/dd/yy' }}</td>
                    <td style="min-width: 9rem">{{ beneficiarie.phoneNumber }}</td>
                    <td style="min-width: 15rem">{{ beneficiarie.address }}</td>
                    <td style="min-width: 9rem">{{ beneficiarie.eps }}</td>
                    <td style="min-width: 8rem">{{ beneficiarie.price | currency:'USD':'symbol' }}</td>
                    <td style="min-width: 6rem" pFrozenColumn alignFrozen="right"
                        class="frozen-col flex justify-content-center">
                        <button (click)="deleteBeneficiarie(beneficiarie.document)" pButton pRipped type="button"
                            icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-outlined p-button-sm"
                            pTooltip="Eliminar" tooltipPosition="bottom"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </div>
    <div *ngIf="showBeneficiariesTable() && !beneficiariesForm()" class="col-12 py-0">
        <p-divider class="text-indigo-500" align="center">
            <b>Lista de Beneficiarios</b>
        </p-divider>
        <p-table *ngIf="visible" [value]="beneficiaries" [paginator]="true" [rows]="2" [scrollable]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 9rem" pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon>
                    </th>
                    <th style="min-width: 9rem" pSortableColumn="lastName">Apellidos <p-sortIcon
                            field="lastName"></p-sortIcon>
                    </th>
                    <th style="min-width: 9rem" pSortableColumn="document">Documento <p-sortIcon
                            field="document"></p-sortIcon>
                    </th>
                    <th style="min-width: 15rem" pSortableColumn="birthDate">Fecha de nacimiento<p-sortIcon
                            field="birthDate"></p-sortIcon>
                    </th>
                    <th style="min-width: 9rem" pSortableColumn="phoneNumber">Teléfono <p-sortIcon
                            field="phoneNumber"></p-sortIcon></th>
                    <th style="min-width: 15rem" pSortableColumn="address">Dirección <p-sortIcon
                            field="address"></p-sortIcon>
                    </th>
                    <th style="min-width: 9rem" pSortableColumn="eps">EPS <p-sortIcon field="eps"></p-sortIcon>
                    </th>
                    <th style="min-width: 9rem" pSortableColumn="price">Precio <p-sortIcon field="price"></p-sortIcon>
                    </th>
                    <th style="min-width: 6rem" pFrozenColumn alignFrozen="right" class="frozen-col">
                        Eliminar
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-beneficiarie>
                <tr>
                    <td style="min-width: 9rem">{{ beneficiarie.name }}</td>
                    <td style="min-width: 9rem">{{ beneficiarie.lastName }}</td>
                    <td style="min-width: 9rem">{{ beneficiarie.document }}</td>
                    <td style="min-width: 15rem">{{ beneficiarie.birthDate | date: 'MM/dd/yy' }}</td>
                    <td style="min-width: 9rem">{{ beneficiarie.phoneNumber }}</td>
                    <td style="min-width: 15rem">{{ beneficiarie.address }}</td>
                    <td style="min-width: 9rem">{{ beneficiarie.eps }}</td>
                    <td style="min-width: 8rem">{{ beneficiarie.price | currency:'USD':'symbol' }}</td>
                    <td style="min-width: 6rem" pFrozenColumn alignFrozen="right"
                        class="frozen-col flex justify-content-center">
                        <button (click)="deleteBeneficiarie(beneficiarie.document)" pButton pRipped type="button"
                            icon="pi pi-trash" pTooltip="Eliminar" tooltipPosition="bottom"
                            class="p-button-rounded p-button-danger p-button-outlined p-button-sm"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div class="flex justify-content-between">
    <div>
        <p-button
            *ngIf="orderProcess[0].action !== 'EditOrderDetail' && onePackage.availableQuotas > beneficiaries.length && frequentTravelers.length > 0"
            label="Mis Viajeros Frecuentes" icon="pi pi-users" (click)="op.toggle($event)"></p-button>
        <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '500px'}">
            <ng-template pTemplate>
                <p-table [value]="frequentTravelers" selectionMode="multiple" [(selection)]="selectedFrequentTravelers"
                    [paginator]="true" [rows]="3" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="name">Nombre completo <p-sortIcon field="name"></p-sortIcon></th>
                            <th pSortableColumn="document">Documento <p-sortIcon field="document"></p-sortIcon></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-frequentTraveler>
                        <tr [pSelectableRow]="rowData">
                            <td>{{frequentTraveler.name + ' ' + frequentTraveler.lastName}}</td>
                            <td>{{frequentTraveler.document}}</td>
                        </tr>
                    </ng-template>
                </p-table>
                <div *ngIf="selectedFrequentTravelers.length > 0" class="flex justify-content-end">
                    <button pButton pRipple type="button" (click)="addFrequentTraveler($event, op)" label="Agregar"
                        icon="pi pi-check"></button>
                </div>
            </ng-template>
        </p-overlayPanel>
    </div>
    <div>
        <button pButton pRipple type="button" (click)="back($event)" label="Regresar" icon="pi pi-angle-left"
            class="p-button-outlined mr-3"></button>
        <p-button *ngIf="orderProcess[0].action !== 'EditOrderDetail' && validForm() && beneficiariesForm()"
            (click)="add()" label="Guardar" icon="pi pi-check"></p-button>

        <p-button *ngIf="orderProcess[0].action !== 'EditOrderDetail' && !validForm() && beneficiariesForm()"
            label="Guardar" icon="pi pi-check" disabled="true"></p-button>

        <p-button *ngIf="orderProcess[0].action !== 'EditOrderDetail' && validForm() && !beneficiariesForm()"
            (click)="next()" label="Siguiente" icon="pi pi-check"></p-button>

        <p-button *ngIf="orderProcess[0].action === 'EditOrderDetail' && validForm() && beneficiariesForm()"
            (click)="next()" label="Guardar" icon="pi pi-check"></p-button>

        <p-button *ngIf="orderProcess[0].action === 'EditOrderDetail' && !validForm() && beneficiariesForm()"
            label="Guardar" icon="pi pi-check" disabled="true"></p-button>
    </div>
</div>