<!--Aquí se despliegan los mensajes de exito o error segun sea el caso-->
<p-toast key="alert-message"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<div class="pb-4 px-4 pt-0">
    <div class="col-12">
        <div class="card p-6" style="border-radius: 20px;">
            <p-table #dt [value]="roleList" [rows]="5" scrollable="true" [loading]="loading" [paginator]="true"
                [globalFilterFields]="['name']">
                <ng-template pTemplate="caption" class="p-grid">
                    <div class="custom-flex-container flex justify-content-between">
                        <div class="custom-flex-item-left">
                            <span class="mt-2 md:mt-0 p-input-icon-right">
                                <i class="pi pi-search"></i>
                                <input pInputText (input)="dt.filterGlobal($event.target.value, 'contains')" type="text"
                                    placeholder="Buscar..." />
                            </span>
                        </div>
                        <div class="custom-flex-item-right">
                            <button pButton pRipple type="button" label="Registrar rol" icon="pi pi-plus"
                                (click)="openCreateRoleModal()" class="p-button-outlined"></button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="font-medium" style="width: 5rem">
                            Nombre
                        </th>
                        <th class="font-medium" style="width: 5rem">
                            Estado
                        </th>
                        <th class="font-medium" style="width: 5rem">
                            Acciones
                        </th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-role>
                    <tr>
                        <td>
                            {{ role.name }}
                        </td>
                        <td>
                            <span [class]="'role-badge status-' + role.status">{{showStatus(role.status)}}</span>
                        </td>
                        <td>
                          <!-- Modificar desde postman el admin :) -->
                            <button pButton type="button" icon="pi pi-pencil"
                                *ngIf="role.name !== 'Administrador'&& role.name !== 'Cliente' && role.name !== 'Beneficiario'"
                                class="p-button-outlined p-button-warning p-button-rounded m-1"
                                (click)="openEditRoleModal(role)" pTooltip="Editar" tooltipPosition="bottom"></button>
                            <button pButton type="button" icon="pi pi-pencil"
                                *ngIf="role.name === 'Administrador' || role.name === 'Cliente' || role.name === 'Beneficiario'"
                                class="p-button-outlined p-button-warning p-button-rounded m-1"
                                tooltipPosition="bottom"
                                disabled></button>

                            <button *ngIf="role.name !== 'Administrador'&& role.name !== 'Cliente'
                            && role.name !== 'Empleado' && role.name !== 'Beneficiario'"

                            pButton
                                type="button" icon="pi pi-trash"
                                class="p-button-outlined p-button-rounded m-1 p-button-danger" pTooltip="Eliminar"
                                (click)="deleteRole(role)" tooltipPosition="bottom"></button>
                            <button *ngIf="role.name === 'Administrador' || role.name === 'Cliente'
                            || role.name === 'Empleado' || role.name === 'Beneficiario'
                            " pButton
                                type="button" icon="pi pi-trash"
                                class="p-button-outlined p-button-rounded m-1 p-button-danger"
                                tooltipPosition="bottom" disabled></button>
                        </td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9">No se encontraron roles</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
