<ng-container *ngIf="role !== 'Cliente'">
    <li (click)="handleMainMenuAction()" class="nav-link" [ngClass]="{active: isMainActive || isOneOfChildrenActive}">
        <a>
            <i class="{{menuItem.iconClasses}} icon"></i>
            <span class="text nav-text">{{ menuItem.name }}</span>
        </a>
    </li>
</ng-container>

<ng-container *ngIf="role === 'Cliente'">
    <a (click)="handleMainMenuAction()" class="nav-link" [ngClass]="{active: isMainActive || isOneOfChildrenActive}">
        <p>{{ menuItem.name }}</p>
    </a>
    <!-- <ul class="nav nav-treeview" *ngFor="let item of menuItem.children" [@openClose]="isMenuExtended">
    <li class="nav-item">
        <a
            [routerLink]="item.path"
            [routerLinkActive]="'active'"
            class="nav-link"
        >
            <i class="nav-icon {{ item.iconClasses }}"></i>
            <p>{{ item.name }}</p>
        </a>
    </li>
</ul> -->
</ng-container>
