<ng-container *ngIf="role !== 'Cliente'">
  <li (click)="handleMainMenuAction()" class="nav-link" [ngClass]="{active: isMainActive || isOneOfChildrenActive}">
    <a>
      <i class="{{menuItem.iconClasses}} icon"></i>
      <span class="text nav-text">{{ menuItem.name }}</span>
    </a>
  </li>
</ng-container>

<ng-container *ngIf="role === 'Cliente'">


  <li class="flex align-items-center">
    <a (click)="handleMainMenuAction()"  [routerLinkActive]="'active'" pRipple pStyleClass="@grandparent" enterClass="ng-hidden" enterActiveClass="px-fadein" leaveToClass="ng-hidden" class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3 cursor-pointer"
      [ngClass]="{active: isMainActive || isOneOfChildrenActive}">
      <span>{{ menuItem.name }}</span>
    </a>
  </li>
</ng-container>
