// :host {
//   display: block;
// }

// .content-wrapper > *:first-child {
//   display: block;
// }

.active-style {
  transition: margin-left .3s ease-in-out !important;
  margin-left: 250px !important;
}

/* Estilos cuando el botón está desactivado */
.inactive-style {
  transition: margin-left .3s ease-in-out !important;
  margin-left: 0px !important;
}

.content-wrapper {
  background-color: var(--surface-ground) !important;
}