<p-toast key="alert-message"></p-toast>
<div class="p-5">
    <div class="col-12">
        <div class="card px-6 py-6 p-4" style="border-radius: 15px;">
            <p-table #dt [value]="employeesList" [rows]="5" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[5, 10]" [loading]="loading" [paginator]="true"
                currentPageReportTemplate="Desde {first} hasta {last} de {totalRecords} empleados"
                [globalFilterFields]="['name', 'lastName', 'document', 'phoneNumber']">
                <ng-template pTemplate="caption" class="p-grid">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <div class="custom-flex-item-left">
                            <span class="mt-2 md:mt-0 p-input-icon-right">
                                <i class="pi pi-search"></i>
                                <input pInputText (input)="dt.filterGlobal($event.target.value, 'contains')" type="text"
                                    placeholder="Buscar..." />
                            </span>
                        </div>
                        <div class="p-input-icon-left mb-2">
                            <button pButton="" pRipple="" label="Agregar empleado" (click)="openModalCreateEmployee()"
                                class="p-button-outlined"><i class="pi pi-plus"
                                    style="margin-left: 5px; margin-right: 9px;"></i></button>
                                    
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-left align-items-left">
                                Nombre  completo
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-content-left align-items-left">
                                Documento
                            </div>
                        </th>
                        
                        <th style="width: 12rem">
                            <div class="flex justify-content-left align-items-left">
                                Número
                            </div>
                        </th>
                        
                        <th style="width: 9rem">
                            <div class="flex justify-content-left align-items-left">
                                Acciones
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-employee>
                    <tr>
                        <td>
                            <span>
                                {{ employee.name }}
                            </span>
                            <span>
                                {{ employee.lastName }}
                            </span>
                            <br>

                        </td>
                        <td>
                            {{ employee.document }}
                        </td>
                        <td>
                            {{ employee.phoneNumber }}
                        </td>
                        
                        
                        <td class="text-center p-1">
                            <span><button pButton type="button" icon="pi pi-pencil"
                                    class="p-button-outlined p-button-warning p-button-rounded m-1"
                                    (click)="openModalEditEmployee(employee)" pTooltip="Editar"
                                    tooltipPosition="bottom"></button></span>
                            <span> <button pButton type="button" icon="pi pi-trash"
                                    class="p-button-outlined p-button-rounded p-button-danger m-1" pTooltip="Ver detalles"
                                    (click)="deleteEmployee(employee)" tooltipPosition="bottom"></button></span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9">No se encontraron clientes</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>