<div class="content-header">
    <div class="container-fluid">
        <div class="row m-3">
            <div class="card card-package">
                <div class="card-header card-package-header">
                    <div class="col-sm-9 col-personalized-1">
                        <h1 class="m-0 text-dark">Empleados</h1>
                    </div>
                    <div class="col-sm-3 col-personalized-2">
                        <button  (click)="openModalCreateEmployee()"  type="button" class="btn btn-primary">Agregar
                            Empleado</button>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngIf="loading" class="d-flex justify-content-center">
                        <div class="spinner-border" style="width: 5rem; height: 5rem;" role="status">
                            <span class="visually-hidden"></span>
                        </div>
                    </div>
                    <form *ngIf="!loading">
                        <div class="d-flex justify-content-end mb-3 row">
                            <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label label-search">Búsqueda:</label>
                            <div class="col-xs-3 col-sm-auto">
                                <input id="table-complete-search" type="text" class="form-control" name="searchTerm" [(ngModel)]="search" (ngModelChange)="searchByName()"/>
                            </div>
                        </div>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col" sortable="name">Apellido</th>
                                    <th scope="col" sortable="population">Documento</th>
                                    <th scope="col" sortable="population">Número</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let employee of filteredEmployeesList">
                                    <td>{{employee.name}}</td>
                                    <td>{{employee.lastName}}</td>
                                    <td>{{employee.document}}</td>
                                    <td>{{employee.phoneNumber}}</td>
                                    <!-- <td><a href="">Ver detalles</a></td> -->
                                    <td><a href="">Edit</a></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="d-flex justify-content-end pt-3">
                            <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="pageSize">
                            </ngb-pagination>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
