<form novalidate [formGroup]="formGroup">
    <div>
        <h2 class="flex justify-content-center mt-0 mb-4 text-indigo-500">Proceso de pago</h2>
    </div>
    <div class="mb-4">
        <div class="py-2 mb-2 bg-indigo-50 flex align-items-center justify-content-center border-round">
            <i class="text-black-alpha-90 font-medium pi pi-info-circle mr-2"></i>
            <span class="text-black-alpha-90 font-medium">Información relacionada con el pago</span>
        </div>
        <div class="flex justify-content-between align-items-center mb-2">
            <span *ngIf="!fromCreatePayment() && !higherRemainingAmountFromRetryPayment" class="text-900">Monto inicial
                - (20%)</span>
            <span *ngIf="fromCreatePayment() && !higherRemainingAmountFromRetryPayment" class="text-900">Restante</span>
            <span *ngIf="!fromCreatePayment() && higherRemainingAmountFromRetryPayment" class="text-900">Restante</span>
            <span class="text-900">{{ remainingAmount | currency:'USD':'symbol' }} COP</span>
        </div>
        <div class="flex justify-content-between align-items-center">
            <span class="text-900 font-bold">Total</span>
            <span class="text-900 font-bold">{{ totalCost | currency:'USD':'symbol' }} COP</span>
        </div>
    </div>
    <p-divider></p-divider>
    <div class="grid mt-1 mb-2">
        <div class="col-7">
            <div class="field">
                <p-inputNumber
                    *ngIf="!fromCreatePayment() && !higherRemainingAmountFromRetryPayment && !orderRemainingAmountsZero"
                    inputId="minmax" formControlName="amount" required="true" placeholder="Ingrese el monto del abono"
                    [style]="{ width: '19rem' }" mode="currency" currency="USD" locale="en-US" [min]="remainingAmount"
                    [max]="totalCost">
                </p-inputNumber>
                <p-inputNumber
                    *ngIf="!fromCreatePayment() && higherRemainingAmountFromRetryPayment && !orderRemainingAmountsZero"
                    inputId="minmax" formControlName="amount" required="true" placeholder="Ingrese el monto del abono"
                    [style]="{ width: '19rem' }" mode="currency" currency="USD" locale="en-US" [min]="1"
                    [max]="remainingAmount">
                </p-inputNumber>
                <p-inputNumber
                    *ngIf="!fromCreatePayment() && higherRemainingAmountFromRetryPayment && orderRemainingAmountsZero"
                    inputId="minmax" formControlName="amount" required="true" placeholder="Ingrese el monto del abono"
                    [style]="{ width: '19rem' }" mode="currency" currency="USD" locale="en-US" [min]="0"
                    [max]="remainingAmount">
                </p-inputNumber>
                <p-inputNumber
                    *ngIf="fromCreatePayment() && !higherRemainingAmountFromRetryPayment && !orderRemainingAmountsZero"
                    inputId="minmax" formControlName="amount" required="true" placeholder="Ingrese el monto del abono"
                    [style]="{ width: '19rem' }" mode="currency" currency="USD" locale="en-US" [min]="1"
                    [max]="remainingAmount">
                </p-inputNumber>
                <small class="p-error block"
                    *ngIf="formGroup.get('amount')?.dirty && formGroup.get('amount')?.errors?.['required']">
                    Este campo es obligatorio
                </small>
            </div>
        </div>
        <div class="col-5">
            <div class="field">
                <input type="file" (change)="onUploadFile($event)">
                <!-- <p-fileUpload name="img" (change)="onUploadFile($event)" chooseLabel="Comprobante"
                    [style]="{ width: '100%'}" pTooltip="Subir comprobante de pago"
                    tooltipPosition="bottom"></p-fileUpload> -->
            </div>
        </div>
    </div>
    <div class="flex justify-content-end">
        <div class="flex align-items-end">
            <button pButton pRipple type="button" (click)="back()" label="Regresar" icon="pi pi-angle-left"
                class="p-button-outlined mr-3"></button>
            <p-button *ngIf="validForm()" (click)="save()" label="Guardar" icon="pi pi-check"></p-button>
            <p-button *ngIf="!validForm()" label="Guardar" icon="pi pi-check" disabled="true"></p-button>
        </div>
    </div>
</form>