<div class="card-header py-3">
    <h4 class="m-0 font-weight-bold text-dark"><span>Agregar Abono</span></h4>
</div>
<form class="needs-validation" novalidate [formGroup]="formGroup">
    <div class=" card-body d-flex justify-content-center">
        <div class="w-75 p-2">
            <div class="row mb-2">
                <div class="col-5">
                    <div class="form-group m-0">
                        <label for="amount" class="form-label">Monto</label>
                        <div class="input-group">
                            <input type="number" id="amount" formControlName="amount" class="form-control"
                                placeholder="Ingrese el monto a abonar" required>
                            <div class="input-group-prepend">
                                <span class="input-group-text rounded-right"><i class="fas fa-dollar-sign"></i></span>
                            </div>
                            <div class="invalid-feedback">
                                Por favor ingrese unicamente números.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="form-group">
                        <label for="img">Comprobante de pago</label>
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text rounded-left"><i class="fas fa-file-archive"></i></span>
                            </div>
                            <div id="img2" class="custom-file">
                                <input type="file" class="custom-file-input" id="img" required>
                                <label class="custom-file-label" for="img">Suba la
                                    imagen del comprobante acá</label>
                            </div>
                            <div class="invalid-feedback">
                                Este campo no puede enviarse vacio.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-label">Costo total del Pedido</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="$1.350.000" disabled>
                            <div class="input-group-prepend">
                                <span class="input-group-text rounded-right"><i class="fas fa-dollar-sign"></i></span>
                            </div>
                            <div class="form-text d-flex justify-content-start m-0">
                                <span class="font-italic" style="font-size: 15px;">El primer
                                    abono debe ser del 20% ($270.000) o superior.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group m-0">
                        <label class="form-label">Restante</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="$1.350.000" disabled>
                            <div class="input-group-prepend">
                                <span class="input-group-text rounded-right"><i class="fas fa-dollar-sign"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-end">
        <div class="row">
            <div class="col">
                <button (click)="back()" type="button" id="cancelButton" class="btn btn-danger">Regresar</button>
            </div>
            <div class="col">
                <button *ngIf="validForm()" type="submit" (click)="save()" class="btn btn-success">Guardar</button>
                <button *ngIf="!validForm()" type="submit" class="btn btn-secondary" disabled>Guardar</button>
            </div>
        </div>
    </div>
</form>