<div class="bg-circle opacity-50" style="top: -200px; left: -700px;"></div>
<div class="bg-circle hidden lg:flex" style="top: 50px; right:-800px; transform: rotate(60deg)"></div>
<br><br>
<p-scrollTop [threshold]="200"></p-scrollTop>
<div class="relative overflow-hidden flex flex-column justify-content-center">

  <div class="landing-wrapper">
    <div class="py-4 px-4 mx-0 z-2">
      <div id="home" class="grid grid-nogutter justify-content-between align-items-center mb-6 py-6 md:mb-8 md:py-8"
        style="height: 70vh;">
        <div
          class="col-12 md:col-4 flex flex-column gap-4 flex-order-1 md:flex-order-0 align-items-center md:align-items-start text-center md:text-left">
          <span class="block text-900 font-bold text-4xl">Bienvenido a TuristiK</span>
          <span class="block text-700 text-lg">La agencia de viajes encargada de hacer sus sueños realidad.</span>
          <span class="block text-900 font-bold text-2xl">Ofrecemos servicios de:</span>

          <ul class="flex flex-wrap gap-5 list-none p-0">

            <li class="flex align-items-center" routerLinkActive="active">
              <div class="p-1 border-circle bg-green-400 inline-block mr-2"></div>
              <span class="text-900 font-semibold">Viajes</span>
            </li>
            <li class="flex align-items-center">
              <div class="p-1 border-circle bg-green-400 inline-block mr-2"></div>
              <span class="text-900 font-semibold">Turismo</span>
            </li>
          </ul>
          <button pButton pRipple type="button" [routerLink]="'Paquetes'" label="Empezar a explorar"
            icon="pi pi-arrow-right" iconPos="right" class="w-15rem p-button-outlined"></button>
        </div>

        <div class="col-12 md:col-7 flex-order-0 md:flex-order-1 mb-6 md:mb-0">
          <img animateEnter="moveinright" class="w-full h-full" src="assets/img/image.png" alt="Imagen Inicio"
            class="w-full h-full animation-duration-1000 animation-ease-out">
        </div>
      </div>

      <div class="grid">
        <div class="md:col-12 sm:col-12">
          <div class="p-5 surface-card surface-border card-shadow mt-3 mb-3" style="border-radius: 25px;">
            <div class="flex flex-column text-center md:text-left">
              <span class="text-900 font-medium text-2xl mb-3 pl-2">Nuestros Paquetes más vendidos</span>
            </div>
            <div class="grid grid-nogutter px-2 flex-column md:flex-row"
              [ngClass]="{'single-card-size': top.length === 1}" style="column-gap: 2rem; row-gap: 2rem;">
              <div *ngFor="let item of top"
                class="col flex flex-column justify-content-center text-start  align-items-start border-1 surface-border py-4 px-3 border-round"
                [ngClass]="{'single-card': top.length === 1}">
                <div *ngIf="top.length === 1" style="width: 100% !important; height: 300px !important;">
                  <div class="flex flex-column md:flex-row p-1 w-full">
                    <p-image [preview]="true" [src]="item.photos" preview="true" [alt]="item.name"
                      class="md:my-0 shadow-2 mr-5" width="600" height="300"></p-image>
                    <div style="width: 100%;">
                      <div class="flex-1 flex flex-column align-items-start text-start md:text-left">
                        <div class="font-semibold text-5xl">{{item.name}}</div>
                        <div class="mb-2">{{item.description}}</div>

                        <div class="flex align-items-center mt-2">
                          <span class="font-semibold">{{item.details}}</span>
                        </div>
                        <div class="flex align-items-center mt-2">
                          <span class="font-semibold"><i class="bx bxs-plane-take-off m-2" style="scale: 1.5;"></i>Lugar
                            de partida: {{item.departurePoint}}</span>
                        </div>
                        <div class="justify-content-between flex align-items-end w-full">
                          <div class="my-5">
                            <button pButton pRipple icon="bx bxs-hotel" class="mr-2 p-button-rounded p-button-outlined"
                              pTooltip="{{item.hotel}}" tooltipPosition="bottom"></button>
                            <button *ngIf="item.transport === 1" pButton icon="bx bxs-bus"
                              class="p-button-rounded p-button-outlined" pTooltip="Transporte terrestre"
                              tooltipPosition="bottom"></button>
                            <button *ngIf="item.transport === 2" pButton icon="bx bxs-plane-take-off"
                              class="p-button-rounded p-button-outlined" pTooltip="Transporte aéreo"
                              tooltipPosition="bottom"></button>
                          </div>
                          <div
                            class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end md:mt-0 mr-3">
                            <span class="text-4xl font-semibold align-self-center md:align-self-end">${{item.price + item.aditionalPrice |
                              currency: ' ':false:'1.0-0'}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



                <div *ngIf="top.length > 1">
                  <div class="mb-3 relative w-100">
                    <p-image [classList]="'edit-span'" [preview]="true" [src]="item.photos" preview="true"
                      [alt]="item.name" class="md:my-0 shadow-2 mr-5" height="300"></p-image>
                  </div>
                  <div class="row w-full style-content-top ml-2">
                    <div class="col-8 w-full">
                      <span class="text-xl text-900 font-medium mb-3">{{item.name}}</span><br>
                      <span class="text-xl text-900 mb-3">{{item.price|currency: ' ':false:'1.0-0'}}</span>
                    </div>
                    <div class="col-4 d-flex">
                      <div class="col p-1" style="display: flex;
                              justify-content: center;
                              align-items: center;">
                        <a pTooltip="Hotel: {{item.hotel}}" tooltipPosition="bottom" class="p-button-outlined p-button">
                          <i class='bx bxs-hotel scale'></i>
                        </a>
                      </div>
                      <div class="col p-1" style="display: flex;
                              justify-content: center;
                              align-items: center;" *ngIf="item.transport == '1'">
                        <a pTooltip="Transporte: Terrestre" tooltipPosition="bottom" class="p-button-outlined p-button">
                          <i class='bx bxs-bus scale'></i>
                        </a>
                      </div>
                      <div class="col p-1" style="display: flex;
                              justify-content: center;
                              align-items: center;" *ngIf="item.transport == '2'">
                        <a class="p-button-outlined p-button" pTooltip="Transporte: Aéreo" tooltipPosition="bottom">

                          <i class='bx bxs-plane-take-off scale'></i>
                        </a>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card px-4 py-8 md:px-6 lg:px-8" style="border-radius: 25px;">
        <div class="flex flex-wrap mb-4">
          <div class="w-full lg:w-6 pl-0 lg:pr-4">
            <img src="assets/img/equipo.png" alt="Nosotros" class="w-full border-round">
          </div>
          <div class="w-full lg:w-6 pr-0 lg:pl-4 mt-3 lg:mt-0">
            <div class="font-bold text-4xl mb-4 text-900">Acerca de nosotros</div>
            <p class="line-height-3 mt-0 mb-3 p-0">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore
              magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum.
            </p>
            <p class="line-height-3 mt-0 mb-3 p-0">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem
              aperiam,
              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
              enim
              ipsam voluptatem
              quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
              voluptatem
              sequi nesciunt.
              Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
              numquam eius modi tempora
              incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </p>
            <p class="line-height-3 my-0 p-0">
              Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid
              ex ea
              commodi consequatur?
              Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
              vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            </p>
          </div>
        </div>
        <div class="mt-3 md:mt-8">
          <span class="block text-900 font-bold text-3xl mb-3 text-center">Nuestro equipo</span>
          <div class="text-center text-lg line-height-3 mb-6">Somos los encargados de llevarlo al lugar que desee y
            hacer sus sueños realidad.</div>
          <div class="grid">
            <div class="col-12 md:col-6 lg:col-3 p-3">
              <div class="relative overflow-hidden" (mouseenter)="visibleMember = 0" (mouseleave)="visibleMember = -1">
                <img src="assets/demo/images/blocks/team/team-1.png" alt="Integrante" class="w-full block" />
                <div class="absolute top-0 left-0 h-full w-full border-round fadein animation-duration-300 select-none"
                  style="background-color: rgba(0,0,0,0.7)" *ngIf="visibleMember === 0">
                  <div class="flex flex-column p-5 h-full">
                    <span class="block font-medium text-white text-xl mb-3">Jeff Davies</span>
                    <span class="font-medium text-400">Software Developer</span>
                    <div class="mt-auto">
                      <a tabindex="0" class="cursor-pointer text-white"><i
                          class="pi pi-twitter text-600 text-xl mr-3"></i></a>
                      <a tabindex="0" class="cursor-pointer text-white"><i
                          class="pi pi-github text-600 text-xl mr-3"></i></a>
                      <a tabindex="0" class="cursor-pointer text-white"><i
                          class="pi pi-facebook text-600 text-xl"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3 p-3">
              <div class="relative overflow-hidden" (mouseenter)="visibleMember = 1" (mouseleave)="visibleMember = -1">
                <img src="assets/demo/images/blocks/team/team-2.png" alt="Integrante" class="w-full block" />
                <div class="absolute top-0 left-0 h-full w-full border-round fadein animation-duration-300 select-none"
                  style="background-color: rgba(0,0,0,0.7)" *ngIf="visibleMember === 1">
                  <div class="flex flex-column p-5 h-full">
                    <span class="block font-medium text-white text-xl mb-3">Kristin Watson</span>
                    <span class="font-medium text-400">UI/UX Designer</span>
                    <div class="mt-auto">
                      <a tabindex="0" class="cursor-pointer text-white"><i
                          class="pi pi-twitter text-600 text-xl mr-3"></i></a>
                      <a tabindex="0" class="cursor-pointer text-white"><i
                          class="pi pi-github text-600 text-xl mr-3"></i></a>
                      <a tabindex="0" class="cursor-pointer text-white"><i
                          class="pi pi-facebook text-600 text-xl"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3 p-3">
              <div class="relative overflow-hidden" (mouseenter)="visibleMember = 2" (mouseleave)="visibleMember = -1">
                <img src="assets/demo/images/blocks/team/team-3.png" alt="Integrante" class="w-full block" />
                <div class="absolute top-0 left-0 h-full w-full border-round fadein animation-duration-300 select-none"
                  style="background-color: rgba(0,0,0,0.7)" *ngIf="visibleMember === 2">
                  <div class="flex flex-column p-5 h-full">
                    <span class="block font-medium text-white text-xl mb-3">Jenna Williams</span>
                    <span class="font-medium text-400">Marketing Specialist</span>
                    <div class="mt-auto">
                      <a tabindex="0" class="cursor-pointer text-white"><i
                          class="pi pi-twitter text-600 text-xl mr-3"></i></a>
                      <a tabindex="0" class="cursor-pointer text-white"><i
                          class="pi pi-github text-600 text-xl mr-3"></i></a>
                      <a tabindex="0" class="cursor-pointer text-white"><i
                          class="pi pi-facebook text-600 text-xl"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3 p-3">
              <div class="relative overflow-hidden" (mouseenter)="visibleMember = 3" (mouseleave)="visibleMember = -1">
                <img src="assets/demo/images/blocks/team/team-4.png" alt="Integrante" class="w-full block" />
                <div class="absolute top-0 left-0 h-full w-full border-round fadein animation-duration-300 select-none"
                  style="background-color: rgba(0,0,0,0.7)" *ngIf="visibleMember === 3">
                  <div class="flex flex-column p-5 h-full">
                    <span class="block font-medium text-white text-xl mb-3">Joe Clifford</span>
                    <span class="font-medium text-400">Customer Relations</span>
                    <div class="mt-auto">
                      <a tabindex="0" class="cursor-pointer text-white"><i
                          class="pi pi-twitter text-600 text-xl mr-3"></i></a>
                      <a tabindex="0" class="cursor-pointer text-white"><i
                          class="pi pi-github text-600 text-xl mr-3"></i></a>
                      <a tabindex="0" class="cursor-pointer text-white"><i
                          class="pi pi-facebook text-600 text-xl"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p-toast key="alert-message"></p-toast>
      <div class="grid surface-card grid-nogutter p-6 border-1 surface-border"
        style="border-radius: 25px; column-gap: 2rem; row-gap: 2rem">
        <div class="col-12">
          <p class="text-900 font-bold">Contáctenos</p>
        </div>
        <div class="col-12">
          <div class="grid grid-nogutter px-2 flex-column md:flex-row" style="column-gap: 2rem; row-gap: 2rem">
            <div *ngFor="let item of content"
              class="col flex flex-column justify-content-center text-center align-items-center border-1 surface-border py-5 px-4 border-round">
              <i class="pi pi-fw text-2xl text-primary" [class]="item.icon"></i>
              <span class="text-900 font-bold mt-4 mb-1">{{
                item.title
                }}</span>
              <span class="text-500">{{ item.info }}</span>
            </div>
          </div>
        </div>

        <div class="col-12 mt-5">
          <p class="text-900 font-bold">Envíenos su comentario</p>

          <div class="grid flex-column md:flex-row formgrid grid-nogutter mt-6" style="row-gap: 2rem; column-gap: 2rem">
            <div class="field col">
              <label for="name" class="block text-indigo-300 font-bold">Nombres</label>
              <span class="p-input-icon-left w-full" style="height: 3.5rem">
                <i class="pi pi-user" style="left: 1.5rem"></i>
                <input type="text" pInputText placeholder="Ingrese sus Nombres" class="w-full px-7 text-900 font-semibold"
                  [(ngModel)]="name" style="height: 3.5rem" onkeydown="return /[a-z A-Z ]/i.test(event.key)" />
              </span>
            </div>

            <div class="field col">
              <label for="email" class="block text-indigo-300 font-bold">Correo Electrónico</label>
              <span class="p-input-icon-left w-full" style="height: 3.5rem">
                <i class="pi pi-envelope" style="left: 1.5rem"></i>
                <input type="text" pInputText placeholder="Ingrese su Correo Electrónico"
                  class="w-full px-7 text-900 font-semibold" [(ngModel)]="email" style="height: 3.5rem"
                  pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" />
              </span>
            </div>
            <div class="field col-4 w-100">
              <label for="type" class="block text-indigo-300 font-bold">Tipo de Comunicación</label>
              <span class="p-input-icon-left w-full">
                <i class="pi pi-envelope" style="left: 1.5rem"></i>

                <p-dropdown [options]="types" placeholder="Seleccione el Tipo de Comunicación" [(ngModel)]="selectedType"
                  optionLabel="name" appendTo="body" required="true"
                  [style]="{width: '100%', height: '3.5rem'}"></p-dropdown>
              </span>
            </div>

            <div class="field col-12 flex flex-column">
              <label for="message" class="block text-indigo-300 font-bold">Mensaje</label>
              <textarea placeholder="Por favor ingrese el mensaje que desea enviarnos aquí. Nos comunicaremos con usted lo antes posible." id="message" rows="5" pInputTextarea
                class="w-full surface-border p-4 text-900 font-semibold border-round mb-4" [autoResize]="true"
                [(ngModel)]="message" maxlength="150"></textarea>

              <div class="grid flex justify-content-end">
                <div class="col-1">
                  <button icon="pi pi-send" (click)="sendEmail()" pButton class="p-button ml-auto mt-3 border-round"
                    label="Enviar"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>