.bg-circle {
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background-image: linear-gradient(140deg,var(--primary-color),var(--surface-ground) 80%);
  position: absolute;
  opacity: 0.25;
  z-index: -1;
}

::ng-deep {
  .p-tooltip {
      max-width: fit-content;
  }
}

.visibility-hidden {
  visibility: hidden;
}

.moveinright {
  animation: moveinright .15s linear;
}

@keyframes moveinright {
  0% {
    opacity: 0;
    transform: translateX(50px);
    transition: transform .12s cubic-bezier(0, 0, 0.2, 1), opacity .12s cubic-bezier(0, 0, 0.2, 1);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.scale{
  scale: 1.8;
}

::ng-deep .p-carousel-indicators{
  display: none !important;
  
}

::ng-deep .p-carousel-next{
  display: none !important;
}
::ng-deep .p-carousel-prev{
  display: none !important;
}

::ng-deep .p-carousel-items-content{
  height: 370px !important;
}


.single-card{
  display: flex !important;
  flex-direction: row !important;
  .style-content-top{
    display: block;
  }
}


.single-card-size{
  flex-direction: column !important;
}


::ng-deep .p-image-preview-container{
  width: 100% !important;
  img {
  width: 100% !important;
  }
}