<p-toast key="alert-message"></p-toast>

<div *ngIf="role!=='Cliente'" class="p-3">
    <div class="col-12">
        <div class="card px-6 py-6" style="border-radius: 15px;">
            <p-table *ngIf="visible" #dt [value]="ordersList" [paginator]="true" [rows]="5"
                [showCurrentPageReport]="true" scrollable="true" [rowsPerPageOptions]="[5, 10]" [loading]="loading"
                currentPageReportTemplate="Mostrando desde {first} hasta {last} filas de {totalRecords} pedidos."
                [globalFilterFields]="['customer.name', 'customer.lastName', 'customer.document', 'package.name', 'totalCost', 'status']">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between">
                        <span class="mt-2 md:mt-0 p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar..." />
                        </span>
                        <button pButton p pRipple type="button" label="Registrar pedido" icon="pi pi-plus"
                            (click)="createOrder()" class="p-button-outlined"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width: 15rem">Titular</th>
                        <th style="min-width: 13rem">Paquete</th>
                        <th style="min-width: 10rem">Beneficiarios</th>
                        <th style="width: 10rem">Costo total</th>
                        <th style="min-width: 10rem">Abonos</th>
                        <th style="min-width: 10rem">Estado</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                        <td style="min-width: 15rem">{{ order.customer.name + ' ' + order.customer.lastName + ' - ' +
                            order.customer.document }}</td>
                        <td style="min-width: 13rem">{{ order.package.name }}</td>
                        <td style="min-width: 10rem">
                            <button pButton pRipple type="button" icon="pi pi-eye"
                                class="p-button-outlined p-button-rounded" pTooltip="Ver beneficiarios"
                                (click)="sendToOrderDetails(order)" tooltipPosition="bottom"></button>
                        </td>
                        <td style="min-width: 10rem">{{ order.totalCost | currency: 'USD':'symbol' }}</td>
                        <td style="min-width: 10rem">
                            <button pButton pRipple type="button" icon="pi pi-eye"
                                class="p-button-outlined p-button-rounded" pTooltip="Ver abonos"
                                (click)="sendToPayments(order)" tooltipPosition="bottom"></button>
                        </td>
                        <td style="min-width: 10rem">
                            <span [class]="'order-badge status-' + order.status">{{ showStatus(order.status)
                                }}</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9">No se encontraron pedidos.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<div *ngIf="user['role'] === 'Cliente'" class="content-header">
    <div class="container-fluid mt-5">
        <div *ngFor="let order of ordersList">
            <div class="card w-100 mb-5">
                <div class="card-header text-left">
                    <div class="row">
                        <div class="col d-flex align-items-center">
                            <h2 class="m-0 font-weight-bold text-dark"> {{order.package.name}} </h2>
                        </div>
                        <div class="col">
                            <div class="d-flex justify-content-end">
                                <div>
                                    <h3 class="m-0 font-weight-bold text-dark">${{ order.totalCost}} COP</h3>
                                    <p class="m-0 d-flex justify-content-end text-muted">Costo total</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-1 pb-0">
                    <div class="row">
                        <div class="col-6 pl-3 pr-2 pt-2 pb-2  mt-auto mb-auto">
                            <div class="ml-auto mr-auto p-2">
                                <img src="https://cdn.colombia.com/images/v2/turismo/sitios-turisticos/cartagena/ciudad-cartagena-800.jpg"
                                    class="card-img-top" alt="Imagen del paquete">
                            </div>
                        </div>
                        <div class="col-6 pt-2 pb-2">
                            <div class="ml-auto mr-auto p-2 pr-3">
                                <h3 class="card-title font-weight-bold"> Información del pedido: </h3>
                                <p class="card-text mb-1"><b>Destino: </b>{{ order.package.destination }} </p>
                                <p class="card-text "><b>Detalles: </b>{{ order.package.details }} </p>
                                <p class="card-text mb-0"><b>Fecha de salida:</b> {{ order.package.departureDate }} COP
                                </p>
                                <p class="card-text"><b>Fecha de regreso: </b>{{ order.package.departureDate }} COP</p>
                                <p class="card-text mb-0"><b>Transporte:</b> {{ order.package.transport }}</p>
                                <p class="card-text mb-0"><b>Hotel: </b>{{ order.package.hotel }}</p>
                                <p class="card-text"><b>Lugar de encuentro: </b>{{ order.package.departurePoint }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <button *ngIf="order.status === 0" class="btn btn-warning">Pendiente</button>
                            <button *ngIf="order.status === 1" class="btn btn-primary">En curso</button>
                            <button *ngIf="order.status === 2" class="btn btn-success">Cancelado</button>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <button type="button" (click)="sendToOrderDetails(order)" class=" btn btn-primary">Ver
                                beneficiarios</button>
                            <button type="button" (click)="sendToPayments(order)" class=" btn btn-primary ml-3">Ver
                                Abonos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>