<p-toast key="alert-message"></p-toast>
<div *ngIf="role !== 'Cliente'" class="p-4">
    <div class="col-12">
        <div class="card px-6 py-6" style="border-radius: 15px;">
            <p-table *ngIf="visible" #dt [value]="ordersList" [paginator]="true" [rows]="5" scrollable="true"
                [loading]="loading"
                [globalFilterFields]="['customer.name', 'customer.lastName', 'customer.document', 'package.name', 'totalCost', 'status']">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between">
                        <span class="mt-2 md:mt-0 p-input-icon-right">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Buscar..." />
                        </span>
                        <button pButton p pRipple type="button" label="Registrar pedido" icon="pi pi-plus"
                            (click)="create()" class="p-button-outlined"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="font-medium" style="min-width: 16rem">Titular</th>
                        <th class="font-medium" style="min-width: 14rem">Paquete</th>
                        <th class="font-medium" style="min-width: 6rem">Fecha</th>
                        <th class="font-medium" style="min-width: 9rem">Costo Total</th>
                        <th class="font-medium" style="min-width: 5rem">Detalles</th>
                        <th class="font-medium" style="min-width: 10rem">Estado</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                        <td style="min-width: 16rem">{{ order.customer.name + ' ' +
                            order.customer.lastName + ' - ' + order.customer.document }}</td>
                        <td style="min-width: 14rem">{{ order.package.name }}</td>
                        <td style="min-width: 6rem">{{ order.orderDate | date: 'dd/MM/yyyy' }}</td>
                        <td style="min-width: 9rem">${{ order.totalCost | currency: ' ':false:'1.0-0' }}</td>
                        <td style="min-width: 5rem" class="flex justify-content-center">
                            <button pButton pRipple type="button" icon="pi pi-info-circle"
                                class="p-button-outlined p-button-rounded" pTooltip="Ver Detalles"
                                (click)="sendToPayments(order)" tooltipPosition="bottom"></button>
                        </td>
                        <td style="min-width: 10rem">
                            <span [class]="'order-badge status-' + order.status">{{ showStatus(order.status) }}</span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="9">No se encontraron pedidos.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<div *ngIf="role === 'Cliente'" class="mt-5">
    <!-- <div class="banner">
        <h1 style="color:white; font-weight: bold;">¡Elige el paquete que mas se ajuste a lo que deseas!</h1>
        <p style="font-weight: bold; color: white;">No esperes más para vivir una aventura increíble. ¡Reserva ahora y
            comienza a explorar los tesoros que el mundo tiene para ofrecerte!</p>
    </div> -->
    <div class="mb-4 surface-section px-2 py-4 md:px-4 lg:px-4 border-1 surface-border" style="border-radius: 15px;">
        <p-dataView id="myDv" #dv *ngIf="visible" [value]="ordersList" filterBy="package.destination" [paginator]="true"
            [rows]="2" layout="list" [loading]="loading">
            <ng-template pTemplate="header">
                <div class="flex flex-column md:flex-row justify-content-between align-items-center">
                    <div class="flex flex-column text-center md:text-left">
                        <span class="text-900 text-2xl mb-2">Mis pedidos</span>
                        <span class="text-700 text-lg">Donde todas sus aventuras se encuentran.</span>
                    </div>
                    <div class="col-5">
                        <div class="flex flex-column gap-2">
                            <span class="p-input-icon-left input-design">
                                <i class="pi pi-search"></i>
                                <input class="w-full small-input" type="search" pInputText
                                    placeholder="Buscar pedido por destino" (input)="onFilter(dv, $event)">
                            </span>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template let-order pTemplate="listItem">
                <div class="col-12">
                    <div class="product-list-item py-4">
                        <div class="surface-card grid grid-nogutter card-shadow">
                            <div class="col-12 flex p-2 surface-100 rounded-header">
                                <div class="p-2 flex-auto text-center md:text-left">
                                    <span class="text-700 block">Destino</span>
                                    <span class="text-900 font-medium block mt-2">{{ order.package.destination }}</span>
                                </div>
                                <p-divider align="center" layout="vertical"
                                    styleClass="h-full  mx-0 lg:mx-3 surface-border"></p-divider>
                                <div class="p-2 flex-auto text-center md:text-left">
                                    <span class="text-700 block">Fechas del viaje</span>
                                    <span class="text-900 font-medium block mt-2">Desde {{ order.package.departureDate |
                                        date }}
                                        hasta
                                        {{ order.package.arrivalDate | date }}</span>
                                </div>
                                <p-divider align="center" layout="vertical"
                                    styleClass="h-full  mx-0 lg:mx-3 surface-border"></p-divider>
                                <div class="p-2 flex-auto text-center md:text-left">
                                    <span class="text-700 block">Costo Total</span>
                                    <span class="text-900 font-medium block mt-2">${{order.totalCost | currency: '
                                        ':false:'1.0-0'}}</span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div
                                    class="p-2 my-4 flex flex-column lg:flex-row justify-content-between align-items-center">
                                    <div
                                        class="flex flex-column lg:flex-row justify-content-center align-items-center px-2">
                                        <img [src]="order.package.photos" alt="package"
                                            class="shadow-4 w-8rem h-8rem mr-3 flex-shrink-0" />
                                        <div class="flex flex-column my-auto mb-auto text-center md:text-left">
                                            <span
                                                class="text-900 mb-2 mt-3 lg:mt-0 font-semibold">{{order.package.name}}</span>
                                            <span class="text-700 text-sm mb-2"> <span
                                                    class="text-900 font-medium">Salida
                                                    en: </span>
                                                {{
                                                order.package.departurePoint }} a las {{
                                                order.package.departureDate | date : 'HH:mm'}} </span>
                                            <span class="text-700 text-sm mb-2"> <span
                                                    class="text-900 font-medium">Hotel:
                                                </span>{{
                                                order.package.hotel }}</span>
                                            <span *ngIf="order.package.transport === 1" class="text-700 text-sm">
                                                <span class="text-900 font-medium">Transporte:
                                                </span>Áereo</span>
                                            <span *ngIf="order.package.transport === 2" class="text-700 text-sm"><span
                                                    class="text-900 font-medium">Transporte: </span>Terrestre</span>
                                        </div>
                                    </div>
                                    <div *ngIf="order.status === 0"
                                        class="bg-yellow-100 mr-0 lg:mr-3 mt-4 lg:mt-0 p-2 flex align-items-center"
                                        [style.border-radius]="'2.5rem'">
                                        <span
                                            class="bg-yellow-400 text-white flex align-items-center justify-content-center border-circle mr-2"
                                            style="min-width:2rem; min-height: 2rem">
                                            <i class="pi pi-clock"></i>
                                        </span>
                                        <span class="text-yellow-400">¡Su pedido está en revision!</span>
                                    </div>
                                    <div *ngIf="order.status === 1"
                                        class="bg-cyan-50 mr-0 lg:mr-3 mt-4 lg:mt-0 p-2 flex align-items-center"
                                        [style.border-radius]="'2.5rem'">
                                        <span
                                            class="bg-cyan-500 text-white flex align-items-center justify-content-center border-circle mr-2"
                                            style="min-width:2rem; min-height: 2rem">
                                            <i class="pi pi-spin pi-spinner"></i>
                                        </span>
                                        <span class="text-cyan-500">¡Su pedido está en curso!</span>
                                    </div>
                                    <div *ngIf="order.status === 2"
                                        class="bg-green-50 mr-0 lg:mr-3 mt-4 lg:mt-0 p-2 flex align-items-center"
                                        [style.border-radius]="'2.5rem'">
                                        <span
                                            class="bg-green-500 text-white flex align-items-center justify-content-center border-circle mr-2"
                                            style="min-width:2rem; min-height: 2rem">
                                            <i class="pi pi-check"></i>
                                        </span>
                                        <span class="text-green-500">¡Su pedido ya está pago!</span>
                                    </div>
                                    <div *ngIf="order.status === 3"
                                        class="bg-red-50 mr-0 lg:mr-3 mt-4 lg:mt-0 p-2 flex align-items-center"
                                        [style.border-radius]="'2.5rem'">
                                        <span
                                            class="bg-red-500 text-white flex align-items-center justify-content-center border-circle mr-2"
                                            style="min-width:2rem; min-height: 2rem">
                                            <i class="pi pi-times"></i>
                                        </span>
                                        <span class="text-red-500">¡Su pedido fue cancelado!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-0 flex border-top-1 surface-border">
                                <a (click)="sendToPackage(order)" tabindex="0"
                                    class="cursor-pointer py-4 flex flex-column md:flex-row text-center justify-content-center align-items-center text-indigo-500 hover:bg-primary hover:text-0 transition-duration-150 w-full"><i
                                        class="pi pi-info-circle mr-2"></i>Ver detalles del paquete</a>
                                <a (click)="sendToPayments(order)" tabindex="0"
                                    class="cursor-pointer py-4 flex flex-column md:flex-row text-center justify-content-center align-items-center text-indigo-500 hover:bg-primary hover:text-0 transition-duration-150 w-full"><i
                                        class="pi pi-dollar mr-2"></i>Ver detalles del pedido</a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="emptymessage">

            </ng-template>
        </p-dataView>
    </div>
</div>