<div class="d-flex justify-content-center align-items-center todo">
    <div class="card border-0 shadow-lg my-5">
        <div class="d-flex justify-content-around align-items-center mt-3">
            <input
                class="p-element p-ripple mr-2 p-button p-button-outlined p-component col-4 p-2 rounded text-center"
                type="text"
                data-target="#carouselExampleControls"
                data-slide-to="0"
                [routerLink]="['/login']"
                value="Iniciar sesión"
                readonly
            />

            <input
                class="p-element p-ripple mr-2 bg-primary p-component col-4 p-2 rounded text-center border-0"
                type="text"
                data-target="#carouselExampleControls"
                data-slide-to="1"
                value="Registrarme"
                readonly
            />
        </div>
        <div class="card-body p-1">
            <div class="container-fluid">
                <form
                    class="needs-validation"
                    novalidate
                    id="form"
                    (submit)="saveCustomer()"
                    [formGroup]="formGroup"
                >
                    <div class="card-body d-flex">
                        <div class="w-100 px-2 py-1">
                            <div class="grid">
                                <div class="form-group col">
                                    <div class="field">
                                        <label for="document" class="block"
                                            >Documento</label
                                        >
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-user"></i>
                                            <input
                                                pInputText
                                                placeholder="Ingrese el número de documento"
                                                type="text"
                                                formControlName="document"
                                                required="true"
                                                minlength="8"
                                                maxlength="15"
                                            />
                                        </span>
                                        <small
                                            class="p-error block"
                                            *ngIf="formGroup.get('document').dirty && formGroup.get('document')?.errors?.['required']"
                                        >
                                            Este campo es obligatorio.
                                        </small>
                                        <small
                                            class="p-error block"
                                            *ngIf="formGroup.get('document').dirty && formGroup.get('document')?.errors?.['minlength']"
                                        >
                                            Este campo debe tener mínimo 8
                                            números.
                                        </small>
                                        <small
                                            class="p-error block"
                                            *ngIf="
                                                formGroup.get('document')
                                                    .dirty &&
                                                validateExistingDocument()
                                            "
                                        >
                                            Este documento está registrado
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <div class="field">
                                        <label for="email" class="block"
                                            >Correo</label
                                        >
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-envelope"></i>
                                            <input
                                                pInputText
                                                placeholder="Ingrese el correo electronico"
                                                type="text"
                                                formControlName="email"
                                                required="true"
                                            />
                                        </span>
                                        <small
                                            class="p-error block"
                                            *ngIf="formGroup.get('email').dirty && formGroup.get('email')?.errors?.['required']"
                                        >
                                            Este campo es obligatorio.
                                        </small>
                                        <small
                                            class="p-error block"
                                            *ngIf="
                                                formGroup.get('email').dirty &&
                                                validateExistingEmail()
                                            "
                                        >
                                            Este correo ya está registrado.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="form-group col">
                                    <div class="field">
                                        <label for="name" class="block"
                                            >Nombre</label
                                        >
                                        <input
                                            pInputText
                                            placeholder="Ingrese el nombre"
                                            type="text"
                                            formControlName="name"
                                            required="true"
                                            minlength="3"
                                            maxlength="15"
                                            onkeydown="return /[a-z A-Z ]/i.test(event.key)"
                                            [style]="{width: '15rem'}"
                                        />
                                        <small
                                            class="p-error block"
                                            *ngIf="formGroup.get('name').dirty && formGroup.get('name')?.errors?.['required']"
                                        >
                                            Este campo es obligatorio.
                                        </small>
                                        <small
                                            class="p-error block"
                                            *ngIf="formGroup.get('name').dirty && formGroup.get('name')?.errors?.['minlength']"
                                        >
                                            Este campo debe tener mínimo 3
                                            letras
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <div class="field">
                                        <label for="lastName" class="block"
                                            >Apellidos</label
                                        >
                                        <input
                                            pInputText
                                            placeholder="Ingrese los apellidos"
                                            type="text"
                                            formControlName="lastName"
                                            required="true"
                                            minlength="5"
                                            maxlength="15"
                                            onkeydown="return /[a-z A-Z]/i.test(event.key)"
                                            [style]="{width: '15rem'}"
                                        />
                                        <small
                                            class="p-error block"
                                            *ngIf="formGroup.get('lastName').dirty && formGroup.get('lastName')?.errors?.['required']"
                                        >
                                            Este campo es obligatorio.
                                        </small>
                                        <small
                                            class="p-error block"
                                            *ngIf="formGroup.get('lastName').dirty && formGroup.get('lastName')?.errors?.['minlength']"
                                        >
                                            Este campo debe tener mínimo 5
                                            letras
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="form-group col">
                                    <div class="field">
                                        <label for="phoneNumber" class="block"
                                            >Teléfono</label
                                        >
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-phone"></i>
                                            <input
                                                pInputText
                                                placeholder="Ingrese el número de teléfono"
                                                type="text"
                                                formControlName="phoneNumber"
                                                required="true"
                                                minlength="10"
                                                maxlength="15"
                                                onkeydown="return /[0-9 +]/i.test(event.key)"
                                                [style]="{width: '15rem'}"
                                            />
                                        </span>
                                        <small
                                            class="p-error block"
                                            *ngIf="formGroup.get('phoneNumber').dirty && formGroup.get('phoneNumber')?.errors?.['required']"
                                        >
                                            Este campo es obligatorio.
                                        </small>
                                        <small
                                            class="p-error block"
                                            *ngIf="formGroup.get('phoneNumber').dirty && formGroup.get('phoneNumber')?.errors?.['minlength']"
                                        >
                                            Este campo debe tener mínimo 10
                                            dígitos
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col">
                                    <div class="field">
                                        <label for="eps" class="block"
                                            >EPS</label
                                        >
                                        <p-dropdown
                                            [options]="allEps"
                                            placeholder="Seleccione la EPS a la que se encuentra afiliado"
                                            required="true"
                                            formControlName="eps"
                                            [style]="{width: '15rem'}"
                                        ></p-dropdown>

                                        <small
                                            class="p-error block"
                                            *ngIf="formGroup.get('eps').errors?.['required'] && formGroup.get('eps').dirty"
                                        >
                                            Este campo es obligatorio.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="form-group col">
                                    <div class="field">
                                        <label for="birthDate" class="block"
                                            >Fecha de Nacimiento</label
                                        >
                                        <span class="p-input-icon-left">
                                            <p-calendar
                                                formControlName="birthDate"
                                                placeholder="Fecha de Nacimiento"
                                                showIcon="true"
                                                dateFormat="dd/mm/yy"
                                                [showTime]="false"
                                                [required]="true"
                                                class="calendar"
                                            ></p-calendar>
                                        </span>
                                        <small
                                            class="p-error block"
                                            *ngIf="formGroup.get('birthDate').dirty && formGroup.get('birthDate')?.errors?.['required']"
                                        >
                                            Este campo es obligatorio.
                                        </small>
                                        <small
                                            class="p-error block"
                                            *ngIf="
                                                formGroup.get('birthDate')
                                                    .dirty && !validateDate()
                                            "
                                        >
                                            Fecha no válida
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col-6">
                                    <div class="field">
                                        <label for="address" class="block"
                                            >Dirección de Residencia</label
                                        >
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-building"></i>
                                            <input
                                                pInputText
                                                placeholder="Ingrese la dirección de residencia"
                                                type="text"
                                                formControlName="address"
                                                required="true"
                                                minlength="10"
                                                maxlength="100"
                                                onkeydown="return /[a-z A-Z 0-9 -#.]/i.test(event.key)"
                                                [style]="{width: '15rem'}"
                                            />
                                        </span>
                                        <small
                                            class="p-error block"
                                            *ngIf="formGroup.get('address').dirty && formGroup.get('address')?.errors?.['required']"
                                        >
                                            Este campo es obligatorio.
                                        </small>
                                        <small
                                            class="p-error block"
                                            *ngIf="formGroup.get('address').dirty && formGroup.get('address')?.errors?.['minlength']"
                                        >
                                            Este campo debe tener mínimo 10
                                            caracteres
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="form-group col">
                                    <div class="field">
                                        <label for="password" class="block"
                                            >Contraseña</label
                                        >
                                        <span class="p-input-icon-right">
                                            <i
                                                (click)="displayPassword()"
                                                class="pi"
                                                [ngClass]="{
                                                    'pi-eye': Visible,
                                                    'pi-eye-slash': !Visible
                                                }"
                                            ></i>
                                            <input
                                                pInputText
                                                placeholder="Ingrese el nombre"
                                                [type]="
                                                    Visible
                                                        ? 'text'
                                                        : 'password'
                                                "
                                                formControlName="password"
                                                required="true"
                                                minlength="8"
                                                maxlength="30"
                                                onkeydown="return /[a-z A-Z .*- 0-9]/i.test(event.key)"
                                                [style]="{width: '15rem'}"
                                            />
                                        </span>
                                        <small
                                            class="p-error block"
                                            *ngIf="formGroup.get('password').dirty && formGroup.get('password')?.errors?.['required']"
                                        >
                                            Este campo es obligatorio.
                                        </small>
                                        <small
                                            class="p-error block"
                                            *ngIf="formGroup.get('password').dirty && formGroup.get('password')?.errors?.['minlength']"
                                        >
                                            Este campo debe tener mínimo 8
                                            caracteres
                                        </small>
                                    </div>
                                </div>

                                <div class="form-group col">
                                    <div class="field">
                                        <label
                                            for="confirmPassword"
                                            class="block"
                                            >Contraseña</label
                                        >
                                        <span class="p-input-icon-right">
                                            <i
                                                (click)="
                                                    displayConfirmPassword()
                                                "
                                                class="pi"
                                                [ngClass]="{
                                                    'pi-eye': Visible2,
                                                    'pi-eye-slash': !Visible2
                                                }"
                                            ></i>
                                            <input
                                                pInputText
                                                placeholder="Ingrese el nombre"
                                                [type]="
                                                    Visible2
                                                        ? 'text'
                                                        : 'password'
                                                "
                                                formControlName="confirmPassword"
                                                required="true"
                                                minlength="8"
                                                maxlength="30"
                                                onkeydown="return /[a-z A-Z .*- 0-9]/i.test(event.key)"
                                                [style]="{width: '15rem'}"
                                            />
                                        </span>
                                        <small
                                            class="p-error block"
                                            *ngIf="formGroup.get('confirmPassword').dirty && formGroup.get('confirmPassword')?.errors?.['required']"
                                        >
                                            Este campo es obligatorio.
                                        </small>
                                        <small
                                            class="p-error block"
                                            *ngIf="formGroup.get('confirmPassword').dirty && !validatePassword()"
                                        >
                                            Las contraseñas deben coincidir
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <div class="grid">
                            <div class="col">
                                <button
                                    (click)="cancel()"
                                    type="button"
                                    id="cancelButton"
                                    class="p-element p-ripple mr-2 p-button p-button-danger p-component"
                                >
                                    <span class="p-button-label">Cancelar</span>
                                </button>
                            </div>
                            <div class="col">
                                <button
                                    *ngIf="validForm()"
                                    type="submit"
                                    id="saveButton"
                                    pbutton=""
                                    pripple=""
                                    label="Registarme"
                                    icon="pi pi-user-plus"
                                    class="p-element p-ripple mr-2 p-button p-button-success p-component"
                                    ng-reflect-label="Registarme"
                                    ng-reflect-icon="pi pi-user-plus"
                                >
                                    <span
                                        class="p-button-icon p-button-icon-left pi pi-user-plus"
                                        aria-hidden="true"
                                    ></span
                                    ><span class="p-button-label"
                                        >Registrarme</span
                                    ><span class="p-ink"></span>
                                </button>
                                <button
                                    *ngIf="!validForm()"
                                    type="submit"
                                    id="saveButton"
                                    pbutton=""
                                    pripple=""
                                    label="Registrarme"
                                    icon="pi pi-user-plus"
                                    class="p-element p-ripple mr-2 p-button p-button-success p-component"
                                    ng-reflect-label="Registrarme"
                                    ng-reflect-icon="pi pi-user-plus"
                                    disabled
                                >
                                    <span
                                        class="p-button-icon p-button-icon-left pi pi-user-plus"
                                        aria-hidden="true"
                                    ></span
                                    ><span class="p-button-label"
                                        >Registrarme</span
                                    ><span class="p-ink"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
