<p-toast key="alert-message-register"></p-toast>

<div class="bg-circle opacity-50" style="top: -200px; left: -700px"></div>
<div
    class="bg-circle hidden lg:flex"
    style="top: 50px; right: -800px; transform: rotate(60deg)"
></div>

<div class="px-3 flex justify-content-center align-items-center mt-2">
    <div
        class="border-1 surface-border surface-card border-round py-7 px-4 md:px-7 z-1"
        style="border-radius: 25px !important"
    >
        <div class="mb-4 ml-2">
            <div class="text-900 text-xl font-bold mb-2">Crear cuenta</div>
            <span class="text-600 font-medium"
                >Por favor ingrese sus datos</span
            >
        </div>
        <form
            novalidate
            id="form"
            (submit)="saveCustomer()"
            [formGroup]="formGroup"
        >
            <div class="col-12 w-full">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-4">
                        <input
                            pInputText
                            placeholder="Ingrese su nombre"
                            class="w-full"
                            type="text"
                            formControlName="name"
                            required="true"
                            minlength="3"
                            maxlength="30"
                            onkeydown="return /^[a-zA-Z\u00C0-\u017F\s]+$/i.test(event.key)"
                            [style]="{width: '15rem'}"
                        />
                        <small
                            class="p-error block"
                            *ngIf="formGroup.get('name').dirty && formGroup.get('name')?.errors?.['required']"
                        >
                            Este campo es obligatorio.
                        </small>
                        <small
                            class="p-error block"
                            *ngIf="formGroup.get('name').dirty && formGroup.get('name')?.errors?.['minlength']"
                        >
                            Este campo debe tener mínimo 3 letras
                        </small>
                    </div>
                    <div class="field col-12 md:col-4">
                        <input
                            pInputText
                            placeholder="Ingrese sus apellidos"
                            class="w-full"
                            type="text"
                            formControlName="lastName"
                            required="true"
                            minlength="3"
                            maxlength="30"
                            onkeydown="return /^[a-zA-Z\u00C0-\u017F\s]+$/i.test(event.key)"
                            [style]="{width: '15rem'}"
                        />
                        <small
                            class="p-error block"
                            *ngIf="formGroup.get('lastName').dirty && formGroup.get('lastName')?.errors?.['required']"
                        >
                            Este campo es obligatorio.
                        </small>
                        <small
                            class="p-error block"
                            *ngIf="formGroup.get('lastName').dirty && formGroup.get('lastName')?.errors?.['minlength']"
                        >
                            Este campo debe tener mínimo 3 letras
                        </small>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="p-inputgroup">
                            <span class="p-input-icon-left w-full">
                                <i class="pi pi-id-card"></i>
                                <input
                                    pInputText
                                    placeholder="Ingrese su número de documento"
                                    type="text"
                                    formControlName="document"
                                    required="true"
                                    minlength="8"
                                    maxlength="15"
                                    class="w-full"
                                    onkeydown="return /^\d|Backspace|Delete$/.test(event.key)"
                                />
                            </span>
                        </div>
                        <!-- validacion de documento -->
                        <small
                            class="p-error block"
                            *ngIf="
                                formGroup.get('document')?.dirty &&
                                validateExistingDocument()
                            "
                        >
                            El documento ya existe
                        </small>
                        <small
                            class="p-error block"
                            *ngIf="formGroup.get('document')?.dirty && formGroup.get('document')?.errors?.['required']"
                        >
                            Este campo es obligatorio
                        </small>
                        <small
                            class="p-error block"
                            *ngIf="formGroup.get('document')?.errors?.['minlength'] && formGroup.get('document')?.dirty"
                        >
                            El documento debe tener mínimo 8 caracteres
                        </small>
                    </div>
                </div>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-4">
                        <span class="p-input-icon-left">
                            <p-calendar
                                dateFormat="dd/mm/yy"
                                appendTo="body"
                                formControlName="birthDate"
                                placeholder="Seleccione su fecha de nacimiento"
                                showIcon="true"
                                required="true"
                                [style]="{width: '100%'}"
                                [readonlyInput]="true"
                                [maxDate]="userMaxDate"
                            ></p-calendar>
                        </span>
                        <small
                            class="p-error block"
                            *ngIf="formGroup.get('birthDate').dirty && formGroup.get('birthDate')?.errors?.['required']"
                        >
                            Este campo es obligatorio.
                        </small>
                    </div>

                    <div class="field col-12 md:col-4">
                        <span class="p-input-icon-left w-full">
                            <i class="pi pi-phone"></i>
                            <input
                                pInputText
                                placeholder="Ingrese su número de teléfono"
                                type="text"
                                formControlName="phoneNumber"
                                required="true"
                                minlength="10"
                                maxlength="10"
                                class="w-full"
                                onkeydown="return /^\d|Backspace|Delete$/.test(event.key)"
                            />
                        </span>
                        <!-- validaciones de número -->
                        <small
                            class="p-error block"
                            *ngIf="formGroup.get('phoneNumber')?.errors?.['required'] && formGroup.get('phoneNumber')?.dirty"
                        >
                            Este campo es obligatorio
                        </small>
                        <small
                            class="p-error block"
                            *ngIf="formGroup.get('phoneNumber')?.errors?.['minlength'] && formGroup.get('phoneNumber')?.dirty"
                        >
                            Este campo debe contener 10 números
                        </small>
                    </div>

                    <div class="field col-12 md:col-4">
                        <p-dropdown
                            [options]="allEps"
                            placeholder="Seleccione la EPS a la que se encuentra afiliado"
                            required="true"
                            formControlName="eps"
                            [style]="{width: '15rem'}"
                        ></p-dropdown>
                    </div>
                </div>

                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <span class="p-input-icon-left">
                            <i class="pi pi-building"></i>
                            <input
                                pInputText
                                placeholder="Ingrese la dirección de residencia"
                                class="w-full"
                                type="text"
                                formControlName="address"
                                required="true"
                                minlength="10"
                                maxlength="100"
                                onkeydown="return /[a-z A-Z 0-9 -#.\u00C0-\u017F\s]/i.test(event.key)"
                                [style]="{width: '15rem'}"
                            />
                        </span>
                        <small
                            class="p-error block"
                            *ngIf="formGroup.get('address').dirty && formGroup.get('address')?.errors?.['required']"
                        >
                            Este campo es obligatorio.
                        </small>
                        <small
                            class="p-error block"
                            *ngIf="formGroup.get('address').dirty && formGroup.get('address')?.errors?.['minlength']"
                        >
                            Este campo debe tener mínimo 10 caracteres
                        </small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <span class="p-input-icon-left">
                            <i class="pi pi-envelope"></i>
                            <input
                                pInputText
                                placeholder="Ingrese su correo electronico"
                                class="w-full"
                                type="text"
                                formControlName="email"
                                required="true"
                            />
                        </span>
                        <small
                            class="p-error block"
                            *ngIf="formGroup.get('email').dirty && formGroup.get('email')?.errors?.['required']"
                        >
                            Este campo es obligatorio.
                        </small>
                        <small
                            class="p-error block"
                            *ngIf="
                                formGroup.get('email').dirty &&
                                formGroup.get('email')?.errors?.pattern
                            "
                        >
                            Coreo no válido
                        </small>
                        <small
                            class="p-error block"
                            *ngIf="
                                formGroup.get('email').dirty &&
                                validateExistingEmail()
                            "
                        >
                            Este correo ya está registrado.
                        </small>
                    </div>
                </div>

                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <span class="p-input-icon-right">
                            <i
                                (click)="displayPassword()"
                                class="pi cursor-pointer"
                                [ngClass]="{
                                    'pi-eye': Visible,
                                    'pi-eye-slash': !Visible
                                }"
                                pTooltip="Ver"
                                tooltipPosition="bottom"
                            ></i>
                            <input
                                pInputText
                                placeholder="Ingrese una contraseña"
                                class="w-full"
                                [type]="Visible ? 'text' : 'password'"
                                formControlName="password"
                                required="true"
                                minlength="8"
                                maxlength="30"
                                onkeydown="return /[a-z A-Z .*- 0-9]/i.test(event.key)"
                                [style]="{width: '15rem'}"
                            />
                        </span>
                        <small
                            class="p-error block"
                            *ngIf="formGroup.get('password').dirty && formGroup.get('password')?.errors?.['required']"
                        >
                            Este campo es obligatorio.
                        </small>
                        <small
                            class="p-error block"
                            *ngIf="formGroup.get('password').dirty && formGroup.get('password')?.errors?.['minlength']"
                        >
                            Este campo debe tener mínimo 8 caracteres
                        </small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <span class="p-input-icon-right">
                            <i
                                (click)="displayConfirmPassword()"
                                class="pi cursor-pointer"
                                [ngClass]="{
                                    'pi-eye': Visible2,
                                    'pi-eye-slash': !Visible2
                                }"
                                pTooltip="Ver"
                                tooltipPosition="bottom"
                            ></i>
                            <input
                                pInputText
                                placeholder="Ingrese de nuevo la contraseña"
                                class="w-full"
                                [type]="Visible2 ? 'text' : 'password'"
                                formControlName="confirmPassword"
                                required="true"
                                minlength="8"
                                maxlength="30"
                                onkeydown="return /[a-z A-Z .*- 0-9]/i.test(event.key)"
                                [style]="{width: '15rem'}"
                            />
                        </span>
                        <small
                            class="p-error block"
                            *ngIf="formGroup.get('confirmPassword').dirty && formGroup.get('confirmPassword')?.errors?.['required']"
                        >
                            Este campo es obligatorio.
                        </small>
                        <small
                            class="p-error block"
                            *ngIf="
                                formGroup.get('confirmPassword').dirty &&
                                !validatePassword()
                            "
                        >
                            Las contraseñas deben coincidir
                        </small>
                    </div>
                </div>
                <div class="p-fluid p-formgrid grid flex justify-content-end">
                    <div class="col-3 mt-2">
                        <button
                            *ngIf="!loadingButton"
                            type="submit"
                            id="saveButton"
                            pButton
                            pRipple
                            label="Registrarme"
                            class="w-full"
                            ng-reflect-label="Registrarme"
                        ></button>
                        <button
                            *ngIf="loadingButton"
                            type="submit"
                            id="saveButton"
                            pButton
                            pRipple
                            class="w-full flex justify-content-center p-button-outlined text-primary"
                            disabled
                        >
                            <i class="pi pi-spin pi-spinner"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
