<p-toast key="alert-message-recover-password"></p-toast>
<div class="px-5 flex justify-content-center align-items-center mb-6">
    <div class="border-1 surface-border surface-card border-round py-7 px-4 md:px-7 z-1"
        style="margin-top: 4%; border-radius: 25px !important; min-width: 35%;">
        <div class="mb-4">
            <div class="text-900 text-xl font-bold mb-2">Restablecer Contraseña</div>
            <span class="text-600 font-medium">Por favor revise su correo electrónico</span>
        </div>
        <form [formGroup]="formGroup" (ngSubmit)="recoverPassword()">
            <div class="grid">
                <div class="field col-12">
                    <span class="p-input-icon-left w-full">
                        <i class="pi pi-key"></i>
                        <input id="codePassword" type="text" pInputText class="w-full"
                            placeholder="Código de recuperación" formControlName="codePassword" required
                            onkeydown="return /[a-z A-Z 0-9]/i.test(event.key)" />
                    </span>
                    <small class="p-error block"
                        *ngIf="formGroup.get('codePassword').dirty && formGroup.get('codePassword')?.errors?.['required']">
                        Este campo es obligatorio
                    </small>
                    <small class="p-error block"
                        *ngIf="formGroup.get('codePassword').dirty && formGroup.get('codePassword')?.errors?.['minlength']">
                        Este campo debe tener mínimo 8 caracteres
                    </small>
                </div>
            </div>
            <div class="grid">
                <div class="field col-12">
                    <span class="p-input-icon-right w-full">
                        <i (click)="displayPassword()" class="pi cursor-pointer" [ngClass]="{
                                'pi-eye': Visible,
                                'pi-eye-slash': !Visible
                            }"></i>
                        <input pInputText placeholder="Nueva contraseña" class="w-full"
                            [type]="Visible ? 'text' : 'password'" formControlName="password" required="true"
                            minlength="8" maxlength="30" onkeydown="return /[a-z A-Z .*- 0-9]/i.test(event.key)" />
                    </span>
                    <small class="p-error block"
                        *ngIf="formGroup.get('password').dirty && formGroup.get('password')?.errors?.['required']">
                        Este campo es obligatorio
                    </small>
                    <small class="p-error block"
                        *ngIf="formGroup.get('password').dirty && formGroup.get('password')?.errors?.['minlength']">
                        Este campo debe tener mínimo 8 caracteres
                    </small>
                </div>
            </div>
            <div class="grid">
                <div class="field col-12">
                    <span class="p-input-icon-right w-full">
                        <i (click)="displayConfirmPassword()" class="pi cursor-pointer" [ngClass]="{
                                'pi-eye': Visible2,
                                'pi-eye-slash': !Visible2
                            }"></i>
                        <input pInputText placeholder="Confirme la nueva contraseña" class="w-full"
                            [type]="Visible2 ? 'text' : 'password'" formControlName="confirmPassword" required="true"
                            minlength="8" maxlength="30" onkeydown="return /[a-z A-Z .*- 0-9]/i.test(event.key)" />
                    </span>
                    <small class="p-error block"
                        *ngIf="formGroup.get('confirmPassword').dirty && formGroup.get('confirmPassword')?.errors?.['required']">
                        Este campo es obligatorio
                    </small>
                    <small class="p-error block" *ngIf="
                            formGroup.get('confirmPassword').dirty &&
                            !validatePassword()
                        ">
                        Las contraseñas deben coincidir
                    </small>
                </div>
            </div>
            <div class="flex justify-content-between">
                <button type="submit" id="saveButton" pButton pRipple label="Restablecer Contraseña" class="w-full"
                    ng-reflect-label="Restablecer Contraseña" [disabled]="!validForm()"></button>
            </div>
        </form>
    </div>
</div>