<div class="content-header">
    <div class="container-fluid">
        <div class="row m-3">
            <div class="card card-package">
                <div class="card-header card-package-header">
                    <div class="col-sm-9 col-personalized-1">
                        <h1 class="m-0 text-dark">Clientes</h1>
                    </div>
                    <div class="col-sm-3 col-personalized-2">
                        <button
                            (click)="openModalCreateCostumer()"
                            type="button"
                            class="btn btn-primary"
                        >
                            Agregar cliente
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngIf="loading" class="d-flex justify-content-center">
                        <div
                            class="spinner-border"
                            style="width: 5rem; height: 5rem"
                            role="status"
                        >
                            <span class="visually-hidden"></span>
                        </div>
                    </div>
                    <form *ngIf="!loading">
                        <div class="d-flex justify-content-end mb-3 row">
                            <label
                                for="table-complete-search"
                                class="col-xs-3 col-sm-auto col-form-label label-search"
                                >Búsqueda:</label
                            >
                            <div class="col-xs-3 col-sm-auto">
                                <input
                                    id="table-complete-search"
                                    type="text"
                                    class="form-control"
                                    name="searchTerm"
                                    [(ngModel)]="search"
                                    (ngModelChange)="searchByName()"
                                />
                            </div>
                        </div>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col-2">Nombre</th>
                                    <th scope="col-2">Apellido</th>
                                    <th scope="col-2">Documento</th>
                                    <th scope="col-2">EPS</th>

                                    <!-- <th scope="col-2">Detalles</th> -->
                                    <th scope="col-2">Editar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="
                                        let costumer of filteredCostumersList
                                    "
                                >
                                    <td>{{ costumer.name }}</td>
                                    <td>{{ costumer.lastName }}</td>
                                    <td>{{ costumer.document }}</td>
                                    <td>{{ costumer.eps }}</td>
                                    <!-- <td class="infoData">
                                        <button
                                            class="hover-text btn btn-outline-secondary"
                                        >
                                            <i
                                                style="
                                                    cursor: pointer;
                                                    display: grid;
                                                "
                                                style="font-size: 100%"
                                                class="fas fa-eye"
                                            ></i>
                                            <span class="tooltip-text bottom"
                                                >Ver detalles</span
                                            >
                                        </button>
                                    </td> -->
                                    <td>
                                        <i
                                            class="fas fa-edit text-dark"
                                            (click)="
                                                openModalEditCostumer(costumer)
                                            "
                                            style="cursor: pointer"
                                        ></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="d-flex justify-content-end pt-3">
                            <ngb-pagination
                                [collectionSize]="total"
                                [(page)]="page"
                                [pageSize]="pageSize"
                            >
                            </ngb-pagination>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
