<h2 class="mt-0 mb-4 text-indigo-500">{{ validateTitle() }}</h2>
<form class="formulario" novalidate (submit)="saveChanges()" [formGroup]="formGroup">
  <div class="grid mb-0">
    <div class="col" [ngClass]="{'col-6': actionTitle !== 'Editar'}">
      <div class="field">
        <input id="role_name" type="text" pInputText
        oncopy="return false" onpaste="return false"
        placeholder="Ingrese el nombre del rol" class="w-full"
        pattern="^\s*(?:\S\s*){3,30}$"
          formControlName="name" minlength="3" maxlength="20" required="true"
          onkeydown="return /^[a-zA-Z\u00C0-\u017F\s]+$/i.test(event.key)"/>
        <small class="p-error block" *ngIf="(formGroup.get('name').dirty && formGroup.get('name')?.errors?.['required']) || isNaN()">
          Este campo es obligatorio
        </small>
        <small class="p-error block"
          *ngIf="(formGroup.get('name')?.errors?.['minlength'] || formGroup.get('name')?.hasError('pattern')) && formGroup.get('name').dirty">
          Este campo debe contener al menos 3 letras
        </small>
        <small class="p-error block" *ngIf="validateExistingRoleName() && formGroup.get('name').dirty">
          Este rol ya está registrado
        </small>
      </div>
    </div>
    <div class="col" *ngIf="actionTitle === 'Editar'">
      <div class="field">
        <p-dropdown [options]="statuses" [(ngModel)]="selectedStatusCode" formControlName="status" optionLabel="name"
          optionValue="code" [style]="{width: '100%'}"></p-dropdown>
        <small class="p-error block"
          *ngIf="formGroup.get('status')?.errors?.['required'] && formGroup.get('status').dirty">
          Este campo es obligatorio
        </small>
      </div>
    </div>
  </div>
  <p-divider align="center" [style]="{'margin-top': '0%', 'margin-bottom': '4%'}">
    <b class="text-indigo-500">Permisos</b>
  </p-divider>
  <div class="grid mb-3">
    <div class="grid col-12">
      <div *ngFor="let permiso of permissionList" class="checkbox col-3 m-0 p-0">
        <div class="w-100 p-1">
          <input type="checkbox" class="custom-control-input" [id]="permiso.module"
            [checked]="isPermissionAssociated(permiso)" (click)="assignpermissiontolist(permiso)">
          <label [for]="permiso.module">
            <i class="icon pi pi-check p-1"></i>
            {{ permiso.module }}
          </label>
        </div>
      </div>
    </div>

    <!--MENSAJES DE VALIDACION PERMISOS ASOCIADOS-->
    <div *ngIf="!validateAssociatedPermissions()" class="p-error block">
      El rol debe tener al menos un permiso asociado
    </div>
    <!--------------------------------------------->
  </div>

  <div class="flex justify-content-end">

    <!-- Button to invalid form -->
    <p-button *ngIf="!validForm()" icon="pi pi-check" label="Guardar" disabled="true"></p-button>

    <!-- Button to valid form -->
    <p-button *ngIf="validForm()" type="submit" icon="pi pi-check" label="Guardar"></p-button>

    <!-- Button to cancel -->
    <button type="button" pButton pRipple icon="pi pi-times" label="Cancelar" class="p-button p-button-outlined ml-3"
    (click)="cancel()"></button>
  </div>
</form>
