<div class="modal-header">
  <div class="container">
      <h5 class="modal-title padding-extra">{{actionTitle}} Rol</h5>
  </div>
</div>
<div class="modal-body">
  <div class="container-fluid">
      <form class="needs-validation" novalidate id="form" (submit)="saveChanges()" [formGroup]="formGroup">
          <div class=" card-body d-flex">
              <div class="w-100 p-2">
                  <div class="row">
                      <div class="form-group col-6">
                          <label for="role_name" class="form-label">Nombre</label>
                        <div class="input-group">

                          <input type="text" id="role_name" name="name" maxlength="20"
                          class="form-control formularioCampo border-left-dark"
                          placeholder="Ingrese el nombre del rol" formControlName="name" required
                          onkeydown="return /[a-z, ]/i.test(event.key)">
                          <div class="input-group-prepend">
                            <span *ngIf="formGroup.get('name').errors || validateExistingRoleName()" class="input-group-text rounded-right">
                              <i class="fas fa-user"></i>
                            </span>
                            <span *ngIf="!formGroup.get('name')?.errors && !validateExistingRoleName()" class="input-group-text rounded-right">
                              <i class="fas fa-check"></i>
                            </span>
                          </div>

                          <!--MENSAJES DE VALIDACION ROLE NAME-->
                          <div *ngIf="formGroup.get('name')?.errors?.['required']" class="invalid-feedback">
                            *Este campo es obligatorio.
                          </div>
                          <div *ngIf="formGroup.get('name')?.errors?.['minlength']" class="invalid-feedback">
                            *El nombre debe tener mínimo 3 caracteres.
                          </div>
                          <div *ngIf="validateExistingRoleName()" class="invalid-feedback">
                            *El rol ya está registrado.
                          </div>
                          <!---------------------------------->
                      </div>
                    </div>

                    <div class="form-group col-5">
                      <label for="status" class="form-label">Estado</label>
                      <div class="input-group">
                          <select class="custom-select border-left-dark form-control formularioCampo"
                              id="status" name="status" formControlName="status" placeholder="Seleccione un estado">
                              <option selected disabled value="0">Seleccione un estado</option>
                              <option value="1">Habilitado</option>
                              <option value="2">Deshabilitado</option>
                          </select>
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-user-cog"></i></span>
                          </div>
                          <!--MENSAJES DE VALIDACION ROLE STATUS-->
                          <div *ngIf="this.formGroup.value.status===0" class="invalid-feedback">
                            *Por favor seleccione una opción.
                          </div>
                          <!-------------------------------------->
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="container mb-4">
                      <h3 class="text-dark mb-3">Permisos</h3>
                      <div class="row col-12 d-flex">
                        <div *ngFor="let permiso of permissionList" class="custom-control custom-switch col-6 mt-3">
                          <input type="checkbox" class="custom-control-input"
                          [id]="permiso.module" [checked]="isPermissionAssociated(permiso)"
                          (click)="assignpermissiontolist(permiso)">
                          <label class="custom-control-label" [for]="permiso.module">
                            {{permiso.module}}
                          </label>
                        </div>
                      </div>

                      <!--MENSAJES DE VALIDACION PERMISOS ASOCIADOS-->
                      <div *ngIf="!validateAssociatedPermissions()" class="invalid-feedback mt-4">
                        *El rol debe tener almenos un permiso asociado.
                      </div>
                      <!--------------------------------------------->

                    </div>
                  </div>
              </div>
          </div>
          <div class="card-footer d-flex justify-content-end">
              <div class="row">
                  <div class="col">
                    <button (click)="cancel()" type="button" id="cancelButton" class="btn btn-danger">Cancelar</button>
                  </div>
                  <div class="col">
                    <button *ngIf="validForm()" type="submit" id="saveButton" class="btn btn-success">Guardar</button>
                    <button *ngIf="!validForm()" type="submit" id="saveButton" class="btn btn-secondary" disabled>Guardar</button>
                  </div>
              </div>
          </div>
      </form>
  </div>
</div>
