<ul class="navbar-nav p-0">
  <li class="nav-item" *ngIf="role!=='Cliente'">
    <i *ngIf="isStyleActive" (click)="onToggleMenuSidebar()" class="bx bx-chevron-right toggle"></i>
  </li>
  <li class="nav-item d-none d-sm-inline-block">
    <a [routerLink]="['/Dashboard']" class="nav-link" *ngIf="role!=='Cliente'">Home</a>
    <a [routerLink]="['/Paquetes']" class="nav-link" *ngIf="role==='Cliente'">TuristiK</a>
  </li>
  <li>
    <app-user></app-user>
  </li>
</ul>


<ul class="navbar-nav ml-auto" *ngIf="role==='Cliente'">
  <app-notifications></app-notifications>

  <!-- <li class="nav-item">
      <button class="nav-link" (click)="onToggleControlSidebar()">
          <i class="fas fa-th-large"></i>
      </button>
  </li> -->
  <app-menu-sidebar style="background-color: #f8f9fa;"></app-menu-sidebar>
  <app-user></app-user>
</ul>