<div class="layout-topbar">
    <div class="topbar-start p-3">
        <button #menubutton type="button" (click)="onToggleMenuSidebar()" class="topbar-menubutton p-link p-trigger">
            <i class="pi pi-bars"></i>
        </button>
        <nav class="layout-breadcrumb">
            <ol>
                <li>Paquetes</li>
            </ol>
        </nav>
    </div>

    <div class="topbar-end">
        <ul class="topbar-menu">
            <li class="topbar-search">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText placeholder="Search" class="w-12rem sm:w-full">
                </span>
            </li>
            <li class="ml-3">
                <button pButton type="button" icon="pi pi-cog"
                    class="p-button-text p-button-secondary p-button-rounded flex-shrink-0"></button>
            </li>
            <li class="topbar-profile">
                <button type="button" class="p-link">
                    <img src="assets/layout/images/avatar.png" (click)="onProfileButtonClick()" alt="Profile" />
                </button>
            </li>
        </ul>
    </div>
</div>