<p-toast></p-toast>
<p-toast key="alert-message-change-password"></p-toast>

<p-sidebar
    [(visible)]="visible"
    position="right"
    [transitionOptions]="'.3s cubic-bezier(0, 0, 0.2, 1)'"
    styleClass="layout-profile-sidebar w-full sm:w-25rem "
>
    <div
        class="flex flex-column mx-auto md:mx-0 w-full vh-full justify-content-center align-items-center"
        *ngIf="loading"
    >
        <i class="pi pi-spin pi-spinner" style="font-size: 5rem"></i>
        <span class="h3"> Cargando ...</span>
    </div>
    <div class="flex flex-column mx-auto md:mx-0 w-full" *ngIf="!loading">
        <span class="mb-2 font-semibold text-xl">{{ saludo }}</span>
        <span class="text-color-secondary font-medium mb-5 text-lg">{{
            allInfo.name + ' ' + allInfo.lastName
        }}</span>

        <p-tabView styleClass="tabview-custom">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="pi pi-info-circle mr-2"></i>
                    <span>Información</span>
                </ng-template>
                <ul class="list-none m-0 p-0">
                    <li>
                        <div
                            class="flex surface-border mb-3 p-3 align-items-center border-1 surface-border border-round"
                        >
                            <span
                                ><i
                                    class="pi pi-id-card text-xl text-primary"
                                ></i
                            ></span>
                            <div class="ml-3">
                                <span class="mb-2 font-semibold"
                                    >Documento</span
                                >
                                <p class="text-color-secondary m-0">
                                    {{ allInfo.document }}
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div
                            class="flex surface-border mb-3 p-3 align-items-center border-1 surface-border border-round overflow-hidden sm:text-overflow-ellipsis"
                        >
                            <span>
                                <i class="pi pi-at text-xl text-primary"></i>
                            </span>
                            <div class="ml-3">
                                <span class="mb-2 font-semibold">Correo</span>
                                <p class="text-color-secondary m-0">
                                    {{ allInfo.user.email }}
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div
                            class="flex surface-border mb-3 p-3 align-items-center border-1 surface-border border-round"
                        >
                            <span>
                                <i class="pi pi-phone text-xl text-primary"></i>
                            </span>
                            <div class="ml-3">
                                <span class="mb-2 font-semibold">Teléfono</span>
                                <p class="text-color-secondary m-0">
                                    {{ allInfo.phoneNumber }}
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="pi pi-cog mr-2"></i>
                    <span>Configuración</span>
                </ng-template>
                <ul class="list-none m-0 p-0">
                    <li>
                        <div
                            class="cursor-pointer flex mb-3 p-3 align-items-center border-1 border-round col-12 lg:col-9 border-yellow-500 col-12 lg:col-12"
                            (click)="
                                user.role == 'Cliente'
                                    ? editCustomer(allInfo)
                                    : editEmployee(allInfo)
                            "
                        >
                            <span>
                                <i
                                    class="pi pi-pencil text-xl text-warning"
                                ></i>
                            </span>
                            <div class="ml-3">
                                <span class="mb-2 font-semibold"
                                    >Editar Perfil</span
                                >
                                <p class="text-color-secondary m-0">
                                    Click para editar
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div
                            class="cursor-pointer flex mb-3 p-3 align-items-center border-1 border-round col-12 lg:col-9 border-yellow-500 col-12 lg:col-12"
                            (click)="changePassword(allInfo.user)"
                        >
                            <span>
                                <i
                                    class="pi pi-pencil text-xl text-warning"
                                ></i>
                            </span>
                            <div class="ml-3">
                                <span class="mb-2 font-semibold"
                                    >Cambiar Contraseña</span
                                >
                                <p class="text-color-secondary m-0">
                                    Click para Cambiar
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </p-tabPanel>
        </p-tabView>
        <div
            class="grid flex justify-content-center mb-3 mr-1 sm:w-25rem"
            style="position: fixed; bottom: 0; right: 0"
        >
            <a
                class="cursor-pointer flex mb-3 p-3 align-items-center border-1 border-round col-12 lg:col-9 border-primary"
                (click)="logoutConfirm($event)"
            >
                <span>
                    <i class="pi pi-sign-out text-xl text-primary"></i>
                </span>
                <div class="ml-3">
                    <span class="mb-2 font-semibold text-primary"
                        >Cerrar Sesión</span
                    >
                    <p class="text-color-secondary m-0">¡Vuelva pronto!</p>
                </div>
            </a>
            <p-confirmDialog key="confirm2"></p-confirmDialog>
        </div>
    </div>
</p-sidebar>
