<div class="d-flex justify-content-center align-items-center vh-100 todo">
    <div class="card o-hidden border-0 shadow-lg my-4 w-25 border-round-lg">
        <div class="d-flex justify-content-around align-items-center mt-3">
            <input
                class="p-element p-ripple mr-2 bg-primary p-component col-4 p-2 rounded text-center border-0"
                type="text"
                data-target="#carouselExampleControls"
                data-slide-to="0"
                value="Iniciar sesión"
                readonly
            />

            <input
                class="p-element p-ripple mr-2 p-button p-button-outlined p-component col-4 p-2 rounded text-center"
                type="text"
                data-target="#carouselExampleControls"
                data-slide-to="1"
                [routerLink]="['/register']"
                value="Registrarme"
                readonly
            />
        </div>
        <div class="card-body p-0 mt-3">
            <!-- Nested grid within Card Body -->
            <div class="grid">
                <div class="col">
                    <div class="px-4 py-2">
                        <form
                            class="needs-validation"
                            novalidate
                            id="form"
                            (submit)="saveChanges()"
                            [formGroup]="formGroup"
                        >
                            <div class="field">
                                <span class="p-input-icon-left w-full">
                                    <i class="pi pi-envelope"></i>
                                    <input
                                        id="email"
                                        type="text"
                                        pInputText
                                        class="w-full"
                                        placeholder="Correo"
                                        formControlName="email"
                                        required
                                    />
                                </span>
                                <small
                                    class="p-error block"
                                    *ngIf="formGroup.get('email').dirty && formGroup.get('email')?.errors?.['required']"
                                >
                                    Este campo es obligatorio.
                                </small>
                                <small
                                    class="p-error block"
                                    *ngIf="
                                        formGroup.get('email').dirty &&
                                        formGroup.get('email')?.errors?.pattern
                                    "
                                >
                                    Coreo no válido
                                </small>
                            </div>
                            <div class="field mb-4">
                                <span class="p-input-icon-left w-full">
                                    <i class="pi pi-lock"></i>
                                    <input
                                        id="password"
                                        type="password"
                                        pInputText
                                        class="w-full"
                                        placeholder="Contraseña"
                                        formControlName="password"
                                        required
                                    />
                                </span>
                                <small
                                    class="p-error block"
                                    *ngIf="formGroup.get('password').dirty && formGroup.get('password')?.errors?.['required']"
                                >
                                    Este campo es obligatorio.
                                </small>
                                <small
                                    class="p-error block"
                                    *ngIf="formGroup.get('password').dirty && formGroup.get('password')?.errors?.['minlength']"
                                >
                                    Este campo debe tener mínimo 8 caracteres
                                </small>
                            </div>
                            <div
                                class="grid d-flex justify-content-end text-right"
                            >
                                <p class="my-4 h6">
                                    <a [routerLink]="['/forgot-password']"
                                        >¿Olvidé mi contraseña?</a
                                    >
                                </p>
                                <div class="col-6">
                                    <button
                                        *ngIf="validForm()"
                                        type="submit"
                                        id="saveButton"
                                        pbutton=""
                                        pripple=""
                                        label="Ingresar"
                                        icon="pi pi-sign-in"
                                        class="p-element p-ripple mr-2 p-button p-button-success p-component"
                                        ng-reflect-label="Ingresar"
                                        ng-reflect-icon="pi pi-sign-in"
                                    >
                                        <span
                                            class="p-button-icon p-button-icon-left pi pi-sign-in"
                                            aria-hidden="true"
                                        ></span
                                        ><span class="p-button-label"
                                            >Ingresar</span
                                        ><span class="p-ink"></span>
                                    </button>
                                    <button
                                        *ngIf="!validForm()"
                                        type="submit"
                                        id="saveButton"
                                        pbutton=""
                                        pripple=""
                                        label="Ingresar"
                                        icon="pi pi-sign-in"
                                        class="p-element p-ripple mr-2 p-button p-button-success p-component"
                                        ng-reflect-label="Ingresar"
                                        ng-reflect-icon="pi pi-sign-in"
                                        disabled
                                    >
                                        <span
                                            class="p-button-icon p-button-icon-left pi pi-sign-in"
                                            aria-hidden="true"
                                        ></span
                                        ><span class="p-button-label"
                                            >Ingresar</span
                                        ><span class="p-ink"></span>
                                    </button>

                                    <!-- <button
                                        *ngIf="validForm()"
                                        type="submit"
                                        id="saveButton"
                                        class="btn btn-success"
                                    >
                                        Ingresar
                                    </button>
                                    <button
                                        *ngIf="!validForm()"
                                        type="submit"
                                        id="saveButton"
                                        class="btn btn-secondary"
                                        disabled
                                    >
                                        Ingresar
                                    </button> -->
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
