<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card o-hidden border-0 shadow-lg my-5 w-25">
    <div class="d-flex justify-content-center align-items-center mt-3">
      <h3 class="font-weight-bold text-primary">Inicio de sesión</h3>
      <!-- <button class="control-prev btn btn-outline-primary border-0" type="button" data-target="#carouselExampleControls"
        data-slide-to="0">
        Inicio de sesión
      </button> -->
      <!-- <button class="control-next btn btn-outline-primary border-0" type="button" data-target="#carouselExampleControls"
        data-slide-to="1">
        Registro
      </button> -->
    </div>
    <hr class="text-primary">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col">
          <div class="p-4">
            <form class="needs-validation mb-3" novalidate id="form" (submit)="saveChanges()" [formGroup]="formGroup">
              <div class="input-group mb-3">
                <input formControlName="email" type="email" class="form-control" placeholder="Correo electrónico" />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input formControlName="password" type="password" class="form-control" placeholder="Contraseña" />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="icheck-primary">
                    <input type="checkbox" id="remember" />
                    <label for="remember"> Recordarme </label>
                  </div>
                </div>
                <div class="col">
                  <div class="d-flex justify-content-end">
                    <button *ngIf="validForm()" type="submit" id="saveButton" class="btn btn-success">
                      Guardar
                    </button>
                    <button *ngIf="!validForm()" type="submit" id="saveButton" class="btn btn-secondary" disabled>
                      Guardar
                    </button>
                  </div>
                </div>
                <!-- /.col -->
              </div>
            </form>
            <p class="text-center m-0">
              <a class="font-weight-bold text-primary" [routerLink]="['/forgot-password']">¿Olvidé mi contraseña?</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>