*{
    background-color: #eff3f8;
    button{
        background-color: #3B82F6 !important;
    }
}


.center{
  width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

