

.content {
  width: 100%;
  height: 100vh;
}

.center{
  width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media (max-width: 1500px) {
  .center{
    width: 95% !important;
  }
  .content{
    height: 80vh;
  }
}

.active {
  font-weight: bold;
}

.log{
    display: none;
}

::ng-deep .log div div div strong a{
  color: #1d21f5 !important;
  font-weight: bold;
}

.log-out{
  color: grey;
    background-color: transparent !important;
    margin-left: 0px !important;
    padding: 15px 10px 5px 15px !important;
    border-top: none !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

.is-not{
  display: none;
}

.border-packages{
  border-bottom: 1px var(--primary-200) solid;
}

.login{
  display: flex;
}
