<div class="p-4">
    <div class="col-12">
        <div class="content-f-luid">
            <div class="grid">
                <div class="col-12 md:col-6 xl:col-3">
                    <div class="card h-full">
                        <span class="font-semibold text-xl">Ventas</span>
                        <div
                            class="flex justify-content-between align-items-start mt-3"
                        >
                            <div class="w-12">
                                <span class="text-4xl font-bold text-900"
                                    ><i
                                        class="pi pi-dollar text-green text-3xl mb-4 mr-2"
                                    ></i
                                    >500000</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 xl:col-3">
                    <div class="card h-full">
                        <span class="font-semibold text-xl">Ingresos</span>
                        <div
                            class="flex justify-content-between align-items-start mt-3"
                        >
                            <div class="w-12">
                                <span class="text-4xl font-bold text-900"
                                    ><i
                                        class="pi pi-money-bill text-green text-3xl mb-4 mr-2"
                                    ></i
                                    >200000</span
                                >
                            </div>
                        </div>
                        <div
                            [ngClass]="{
                                'text-green-500': porAbo >= 60,
                                'text-yellow-500': porAbo < 60 && porAbo >= 40,
                                'text-red-500': porAbo < 39
                            }"
                        >
                            <span class="text-xl">{{ porAbo }}%</span>
                            <i class="pi pi-arrow-up text-lg ml-2"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 xl:col-3">
                    <div class="card h-full">
                        <span class="font-semibold text-xl">Clientes</span>
                        <div
                            class="flex justify-content-between align-items-start mt-3"
                        >
                            <div class="w-12">
                                <span class="text-4xl font-bold text-900"
                                    ><i
                                        class="pi pi-users text-primary text-3xl mb-4 mr-2"
                                    ></i
                                    >12</span
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 xl:col-3">
                    <div class="card h-full">
                        <span class="font-semibold text-xl">
                            Cupos Separados</span
                        >
                        <div
                            class="flex justify-content-between align-items-start mt-3"
                        >
                            <div class="w-12">
                                <span class="text-4xl font-bold text-900"
                                    ><i
                                        class="pi pi-briefcase text-primary text-3xl mb-4 mr-2"
                                    ></i
                                    >200</span
                                >
                            </div>
                        </div>
                        <div
                            [ngClass]="{
                                'text-green-500': porCupSep >= 60,
                                'text-yellow-500':
                                    porCupSep < 60 && porCupSep >= 40,
                                'text-red-500': porCupSep < 39
                            }"
                        >
                            <span class="text-xl">{{ porCupSep }}%</span>
                            <i class="pi pi-arrow-up text-lg ml-2"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-4">
                    <div class="card p-3 card-design">
                        <div class="text-900 text-xl font-semibold mb-3">
                            Paquetes más vendidos
                        </div>
                        <p-chart
                            type="pie"
                            [data]="pieData"
                            [options]="pieOptions"
                            height="250px"
                        ></p-chart>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card p-3 card-design">
                        <div class="chart-container">
                            <p-chart
                                type="line"
                                [data]="lineChartData"
                                [options]="lineChartOptions"
                            ></p-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
