.beneficiarie-badge {
    border-radius: var(--border-radius);
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;

    &.role-0 {
        background: var(--indigo-100);
        color: var(--indigo-800);
    }

    &.role-1 {
        background: var(--green-100);
        color: var(--green-800);
    }

    &.role-2 {
        background: var(--cyan-100);
        color: var(--cyan-800);
    }
}

.card-shadow {
    border: 1px solid rgb(219, 219, 219) !important;
    border-radius: 15px !important;
    box-shadow: 0px 4px 25px rgba(221, 224, 255, .54);
}

::ng-deep {
    .p-tooltip {
        max-width: fit-content;
    }
}